/* Text Elements */

h1 {
  margin-top: 30px;
  margin-right: 0;
  color: #a8813e;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 2px;
  font-size: 42px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: 1;
}

h2 {
  text-align: center;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

h2.other-teas-title {
  margin-top: 10px;
  color: #81945d;
  text-align: center;
}

h4.other-teas-heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

h5 span.heading-text-4 {
  color: rgba(66, 45, 13, .45);
}

h5 span.small-h5 {
  font-size: 22px;
}

h5.image-callout {
  margin-top: 30px;
  margin-left: 0;
  color: rgba(66, 45, 13, .65);
  text-align: left;
  font-weight: 400;
  font-size: 40px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

h6.footer-heading {
  color: rgba(84, 72, 43, .85);
  font-size: 26px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

p.paragraph {
  color: #54442c;
  font-size: 17px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: 1.5;
}

p.paragraph a.paragraph-text-2 {
  color: #3d6944;
}

p.paragraph.hero-p {
  color: #54442c;
}

p.paragraph span.emphasis {
  font-weight: 600;
}

p.paragraph span.italic {
  font-style: italic;
}

p.paragraph span.note {
  font-size: 14px;
}

p.paragraph.other-teas-paragraph {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  width: 90%;
  color: #54442c;
  text-align: center;

  -webkit-flex: 1 auto;
     -moz-flex: 1 auto;
      -ms-flex: 1 auto;
       -o-flex: 1 auto;
          flex: 1 auto;
}

p.paragraph a.paragraph-text-2:hover {
  color: #2c4f31;
  font-weight: 400;
}

span.text-element.home-quote-author {
  margin: 0 0 30px;
  color: #222;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

span.text-element {
  text-align: center;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

span.text-element.image-caption {
  margin-top: 3px;
  margin-right: 0;
  margin-bottom: 10px;
  text-align: right;
}

blockquote.home-heading-quote {
  margin: 50px auto 15px;
  padding-top: 7px;
  width: 90%;
  color: #9c886a;
  text-align: center;
  font-size: 36px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: 1;
}

a.link-text.nav-link {
  display: block;
  float: left;
  margin: 38px 3% 0 0;
  padding: 5px;
  width: auto;
  border-bottom: 0 none #918067;
  color: #918067;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 21px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: 1;
}

a.link-text.current.nav-link {
  border-bottom: 4px double rgba(92, 68, 34, .5);
  color: #5c4422;
}

a.link-text {
  font-size: 18px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

a.link-text.contact-link {
  color: #424242;
  text-align: center;
  font-style: normal;
  font-size: 22px;
  line-height: 1.2;
}

a.link-text.nav-link:hover {
  color: #613c23;
}

ul.link-list.footer-links {
  margin-bottom: 10px;
  list-style-position: inside;
  list-style-type: disc;
}

/* Common Elements */

div.rule.rule-2 hr {
  border-top-width: 2px;
  border-top-color: rgba(84, 72, 43, .85);
}

div.rule.rule-2 {
  padding-top: 5px;
  max-width: 60px;
  width: 100%;
}

/* Interaction Elements */

a.link-button {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: #737373;
  font-style: italic;
  font-size: 28px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

a.link-button.top-section-button {
  display: block;
  float: right;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 0;
  width: auto;
  background-color: #53a677;
}

a.link-button.info-button {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  max-width: 250px;
  width: auto;
  background-color: #bb9e89;
  text-align: center;
}

a.link-button.info-button.red {
  background-color: #e6a895;
}

a.link-button.green.info-button {
  background-color: #97bd88;
}

a.link-button.top-section-button:hover {
  background-color: #7dc79d;
}

/* Layout Elements */

body > .row {
  max-width: 800px;
}

body.grid-1 {
  background-color: #fff;
}

body > .row.nav-row {
  position: fixed;
  z-index: 100;
  max-width: none;
  border-bottom: 3px solid #fff;
  background-color: #fffde3;
  background-image: url('https://sdrive-storage.s3.amazonaws.com/rsd/5543845fe5da71/37199306/back-drop-2.jpg');
  background-position: 53.5% 64%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: none;
}

body > .row.full-width-row {
  max-width: none;
  background-color: #fff;
}

body > .row > [class*='coffee-span-'].divider-leaves {
  min-height: 20px;
  background-image: url('https://sdrive-storage.s3.amazonaws.com/rsd/5543858b4e5515/02796894/leaves-pattern-green.jpg');
}

body > .row.green-pattern-row {
  max-width: none;
  background-image: url('https://sdrive-storage.s3.amazonaws.com/rsd/55437bbb9d0355/33304071/background-pattern-0.jpg');
  background-attachment: fixed;
}

body > .row > [class*='coffee-span-'].main-section-column {
  margin-top: 97px;
  margin-left: 0;
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  background-color: #fff;
}

body > .row > [class*='coffee-span-'].footer-column {
  padding: 30px;
  background-color: #f5efe6;
}

body > .row.full-width-row.offers {
  padding: 50px 50px 70px;
  max-width: none;
}

body > .row > [class*='coffee-span-'].white-column {
  margin-top: 0;
  padding: 50px 30px;
  background-color: #fff;
}

body > .row > [class*='coffee-span-'].product-col {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
       -o-flex-direction: row;
          flex-direction: row;
}

.row > [class*='coffee-span-'] > .container {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 1400px;
}

div.responsive-picture.top-section-image {
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

.row > [class*='coffee-span-'] .subgrid > .row {
  max-width: none;
}

a.social-image.social-icon {
  margin-right: 3%;
  max-width: 42px;
  background-color: #a8a496;
}

.row > [class*='coffee-span-'] > .container.top-section-container {
  width: 70%;
}

a.responsive-picture.image-link-1 > picture {
  margin: 0;
}

a.responsive-picture.image-link-1 {
  float: left;
  margin-top: 9px;
  margin-right: 5%;
  margin-bottom: 9px;
}

div.responsive-picture {
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

.row > [class*='coffee-span-'] > .container.container-70 {
  width: 70%;
}

div.responsive-picture.gallery-image {
  margin-bottom: 10px;
}

div.responsive-picture.gallery-image > picture {
  margin: 0;
}

a.responsive-picture.map {
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}

a.responsive-picture.map > picture {
  margin: 0;
}

a.responsive-picture.contact-icon {
  margin-right: auto;
  margin-left: auto;
  max-width: 128px;
}

a.responsive-picture.contact-icon > picture {
  margin: 0;
}

div.responsive-picture.top-section-image > picture {
  margin: 0;
}

div.responsive-picture.other-teas-image > picture {
  margin: 0;
}

li.list-item-link.link-item {
  padding-left: 30px;
  line-height: 1.5;
}

li.list-item-link.link-item > a {
  color: #3d6944;
  text-decoration: none;
  font-size: 17px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

div.responsive-picture.other-teas-image {
  display: block;
  margin: 15px auto;
  max-width: 400px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

.row > [class*='coffee-span-'] > .container.product-card {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  margin-right: 2%;
  margin-left: 2%;
}

.row > [class*='coffee-span-'] .subgrid.contact {
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 24px;
  border-top: 3px double #d6d6d6;
  border-bottom: 3px double #d6d6d6;
}

a.social-image.social-icon:hover {
  background-color: #8a867c;
}

@media screen and (max-width: 1251px) {
  /* Text Elements */

  h1 {
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
  }

  h4.other-teas-heading {
    font-size: 22px;
  }

  h6.footer-heading {
    font-size: 24px;
  }

  p.paragraph {
    font-size: 16px;
    line-height: 1.4;
  }

  p.paragraph.other-teas-paragraph {
    width: auto;
  }

  span.text-element.home-quote-author {
    margin-bottom: 10px;
  }

  blockquote.home-heading-quote {
    margin-top: 20px;
    margin-bottom: 10px;
    width: auto;
    font-size: 30px;
  }

  a.link-text.nav-link {
    font-size: 19px;
  }

  a.link-text.current.nav-link {
    padding-bottom: 7px;
  }

  a.link-text.contact-link {
    font-size: 17px;
  }

  /* Interaction Elements */

  a.link-button {
    padding-top: 5px;
    padding-right: 15px;
  }

  a.link-button.top-section-button {
    margin-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
  }

  a.link-button.info-button.info-button.red {
    background-color: #e6a895;
  }

  /* Layout Elements */

  body > .row.full-width-row.offers {
    margin-top: 0;
    padding: 30px 10px 50px;
  }

  body > .row > [class*='coffee-span-'].main-section-column {
    padding-right: 0;
    padding-left: 0;
  }

  body > .row > [class*='coffee-span-'].white-column {
    padding-top: 30px;
  }

  .row > [class*='coffee-span-'] > .container.top-section-container {
    width: 85%;
  }

  .row > [class*='coffee-span-'] > .container.container-70 {
    width: 85%;
  }

  a.responsive-picture.contact-icon {
    max-width: 100px;
  }

  li.list-item-link.link-item > a {
    font-size: 16px;
  }
}

@media screen and (max-width: 701px) {
  /* Text Elements */

  h1 {
    word-spacing: 0;
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 1.2;
  }

  h5.image-callout {
    margin-top: 20px;
    font-size: 30px;
    line-height: 1.2;
  }

  h6.footer-heading {
    font-size: 22px;
  }

  p.paragraph {
    font-size: 16px;
  }

  p.paragraph.other-teas-paragraph {
    max-width: 500px;
  }

  span.text-element.home-quote-author {
    margin-top: 0;
    font-size: 18px;
  }

  blockquote.home-heading-quote {
    margin-top: 0;
    font-size: 24px;
  }

  a.link-text.nav-link {
    display: block;
    float: left;
    margin: 5px 0;
    width: 33%;
    text-align: center;
  }

  a.link-text.current.nav-link {
    border-bottom-style: none;
  }

  a.link-text.contact-link {
    font-size: 20px;
  }

  /* Interaction Elements */

  a.link-button {
    font-size: 23px;
  }

  /* Layout Elements */

  body > .row.full-width-row.offers {
    padding: 10px 10px 30px;
  }

  body > .row.nav-row {
    position: static;
  }

  body > .row > [class*='coffee-span-'].main-section-column {
    margin-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
  }

  body > .row > [class*='coffee-span-'].white-column {
    padding-top: 10px;
  }

  body > .row > [class*='coffee-span-'].contact.main-section-column {
    padding-right: 0;
    padding-left: 0;
  }

  body > .row > [class*='coffee-span-'].product-col {
    -webkit-flex-wrap: wrap;
       -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
         -o-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .row > [class*='coffee-span-'] > .container.top-section-container {
    width: 100%;
  }

  a.responsive-picture.image-link-1 {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .row > [class*='coffee-span-'] > .container.container-70 {
    width: 100%;
  }

  a.responsive-picture.contact-icon {
    max-width: 128px;
  }

  li.list-item-link.link-item > a {
    font-size: 16px;
  }

  .row > [class*='coffee-span-'] .subgrid.contact {
    padding-top: 0;
  }
}

@media screen and (max-width: 437px) {
  /* Text Elements */

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h5.image-callout {
    margin-top: 10px;
    font-size: 24px;
  }

  h6.footer-heading {
    font-size: 20px;
  }

  span.text-element.home-quote-author {
    font-size: 16px;
  }

  a.link-text.nav-link {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    font-size: 17px;
  }

  a.link-text.contact-link {
    font-size: 16px;
  }

  /* Interaction Elements */

  a.link-button.top-section-button {
    float: none;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    text-align: center;
  }

  a.link-button.info-button {
    margin-bottom: 20px;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].main-section-column {
    margin-top: 20px;
    padding: 15px 15px 0;
  }

  body > .row > [class*='coffee-span-'].footer-column {
    padding: 15px 15px 20px;
  }

  body > .row > [class*='coffee-span-'].white-column {
    padding-right: 15px;
    padding-left: 15px;
  }

  a.responsive-picture.contact-icon {
    max-width: 128px;
  }
}