.slideshow_container#cc-slideshow-32b15f01 .slides_container > .slide.bckgr-image-slide {
  padding: 0;
  min-width: 0;
  min-height: 720px;
  width: 100%;
  background-image: url(../images/swimming-828795_1280.jpg);
  background-position: left center;
  background-size: cover;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.slideshow_container#cc-slideshow-32b15f01 .slideshow {
  padding: 0;
  max-width: none;
}

.slideshow_container#cc-slideshow-32b15f01 h3.slider-heading-3 {
  float: none;
  padding: 20px;
  background-color: #fff;
  color: #222;
  font-weight: 500;
  font-size: 30px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.slideshow_container#cc-slideshow-32b15f01 h6.slider-heading-6 {
  float: right;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: rgba(48, 48, 48, .9);
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  font-family: Cambria, Georgia, serif;
}

.slideshow_container#cc-slideshow-32b15f01 > .slideshow .slider-container {
  position: absolute;
  top: 450px;
  right: 200px;
  float: right;
}

.slideshow_container#cc-slideshow-32b15f01 .slides_container > .slide#slide2a {
  background-image: url(../images/restaurant.jpg);
}

.slideshow_container#cc-slideshow-32b15f01 .slides_container > .slide#slide3a {
  background-image: url(../images/luxury-getaway.jpg);
  background-position: center bottom;
}

@media screen and (max-width: 1060px) {
  .slideshow_container#cc-slideshow-32b15f01 h3.slider-heading-3 {
    padding: 15px;
    font-size: 26px;
  }

  .slideshow_container#cc-slideshow-32b15f01 h6.slider-heading-6 {
    padding: 15px;
  }

  .slideshow_container#cc-slideshow-32b15f01 .slides_container > .slide.bckgr-image-slide {
    min-height: 450px;
  }

  .slideshow_container#cc-slideshow-32b15f01 > .slideshow .slider-container {
    top: 250px;
    right: 50px;
  }
}

@media screen and (max-width: 645px) {
  .slideshow_container#cc-slideshow-32b15f01 > .slideshow .slider-container {
    position: static;
    top: auto;
    right: auto;
    bottom: -10px;
    left: 10px;
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .slideshow_container#cc-slideshow-32b15f01 h3.slider-heading-3 {
    padding: 10px;
    font-size: 20px;
  }

  .slideshow_container#cc-slideshow-32b15f01 h6.slider-heading-6 {
    float: left;
    padding: 10px;
    font-size: 15px;
  }

  .slideshow_container#cc-slideshow-32b15f01 .slides_container > .slide.bckgr-image-slide {
    padding-bottom: 0;
    min-height: 350px;
  }
}

@media screen and (max-width: 398px) {
  .slideshow_container#cc-slideshow-32b15f01 .slides_container > .slide.bckgr-image-slide {
    min-height: 250px;
  }
}.slide {
  display: none;
}
.slide.active {
  display: block;
}
