/* Text Elements */

h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

h1.welcome-title {
  margin-bottom: 5px;
  color: #c5af9c;
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  line-height: .9;
}

h1.welcome-intro-title {
  margin-bottom: 5px;
  color: #5e5955;
  font-weight: 700;
  font-size: 26px;
}

h4 {
  color: #ffb442;
  font-family: 'Roboto', sans-serif;
}

h6 {
  margin-top: 4px;
  color: #83b0cc;
  font-family: 'Roboto', sans-serif;
}

h6.three-elements-title {
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 5px;
  color: #545b80;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Khand', sans-serif;
}

h6.outstanding {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;
  border-top: 1px dotted rgba(51, 51, 51, .25);
  color: #333;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

h6.caption {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 4px;
  max-width: 400px;
  border-bottom: 1px dotted rgba(120, 119, 104, .35);
  color: #787768;
  text-align: center;
}

h6.small.three-elements-title {
  font-size: 24px;
}

h6.product-detail.three-elements-title {
  margin-bottom: 0;
  color: #545b80;
  font-size: 42px;
  line-height: 1;
}

p.paragraph {
  color: #5e5955;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

p.paragraph.credentials {
  margin-top: 0;
  margin-bottom: 10px;
  color: #858585;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}

p.paragraph.credentials.title {
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-bottom: 1px dotted rgba(94, 94, 94, .25);
  color: #2e7cb8;
}

p.paragraph span.bold {
  font-weight: 700;
}

p.paragraph.side-note {
  margin-top: 13px;
  padding: 9px 10px 0 0;
  border-top: 1px dotted rgba(94, 89, 85, .25);
  border-right: 1px dotted rgba(94, 89, 85, .25);
  background-color: transparent;
  background-image: none;
  background-position: right top;
  background-clip: border-box;
  background-repeat: no-repeat;
  color: #858585;
  text-align: left;
  font-style: normal;
  font-size: 13px;
  line-height: 1.3;
}

p.paragraph a.p-link {
  color: #769bdb;
  text-decoration: underline;
}

p.paragraph.three-elements-paragraph {
  margin-top: 0;
  margin-right: 10%;
  margin-left: 10%;
  max-width: 330px;
  color: #b57c4a;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
}

p.paragraph span.code {
  background-color: #e3f9ff;
  color: #918a84;
  font-size: 15px;
  font-family: Consolas, monaco, monospace;
}

p.paragraph span.control {
  color: #918a84;
  font-size: 15px;
  font-family: Consolas, monaco, monospace;
}

p.paragraph span.emphasize {
  font-style: italic;
}

p.paragraph.no-max-width.three-elements-paragraph {
  max-width: none;
}

p.paragraph span.highlight {
  font-weight: 600;
}

p.paragraph span.paragraph-text-1 {
  text-decoration: line-through;
}

p.paragraph.product-facts {
  margin-top: 0;
  color: #3e3c3b;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Khand', sans-serif;
  line-height: 1;
}

p.paragraph.price {
  color: #5e1e12;
  font-size: 20px;
  font-family: 'Khand', sans-serif;
}

p.paragraph.product-description {
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  max-width: 600px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  color: #b57c4a;
  font-size: 15px;
  line-height: 1.5;
}

p.paragraph.paragraph-1 {
  color: #5e5955;
}

p.paragraph.info-message {
  margin-bottom: 2px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

p.paragraph.paragraph-4 {
  color: #5e5955;
}

p.paragraph.action-prompt {
  color: #dedede;
}

p.paragraph.flex-growth.three-elements-paragraph {
  background-color: transparent;

  -webkit-flex: 1;
     -moz-flex: 1;
      -ms-flex: 1;
       -o-flex: 1;
          flex: 1;
}

span.text-element.input {
  padding: 16px 30px 15px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  background-color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 1;

  -webkit-align-self: center;
     -moz-align-self: center;
      -ms-align-self: center;
       -o-align-self: center;
          align-self: center;
}

blockquote {
  max-width: none;
  width: 40%;
  text-align: center;
  font-size: 19px;
  font-family: 'Arvo', serif;
}

blockquote.vertical-align-quotes {
  margin-right: 2%;
  margin-left: 2%;
  padding-top: 18px;
  padding-bottom: 15px;
  max-width: 400px;
  width: auto;
  border: 1px solid rgba(255, 255, 255, .25);
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Khand', sans-serif;
  line-height: 1.5;
}

blockquote.extended.vertical-align-quotes {
  margin-right: 1%;
  margin-left: 1%;
  max-width: 330px;
}

a.link-text.nav-link {
  margin-right: 2%;
  margin-left: 2%;
  padding: 8px 14px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

a.link-text.active.nav-link {
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: rgba(163, 171, 184, .5);
}

/* Interaction Elements */

a.link-button.buy-button {
  padding: 14px 24px 12px;
  background-color: #5e1e12;
  font-size: 22px;
  font-family: 'Khand', sans-serif;
}

/* Layout Elements */

body {
  background-color: #fff;
}

body > .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

body > .row.article-header {
  margin-top: -200px;
  padding: 70px 20px 45px;
  width: 95%;
  background-color: #fff;
}

body > .row.sample-vertical-align {
  max-width: 1200px;
  background-color: #4c4e61;
}

body > .row.sample-three-elements {
  max-width: none;
  background-color: #f0f0f0;
}

body > .row > [class*='coffee-span-'].three-elements-column {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;

  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
       -o-justify-content: space-between;
          justify-content: space-between;
}

body > .row > [class*='coffee-span-'] {
  min-height: 20px;
}

body > .row > [class*='coffee-span-'].reversed.three-elements-column {
  -webkit-flex-direction: row-reverse;
     -moz-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
       -o-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body > .row > [class*='coffee-span-'].flex-start.three-elements-column {
  -webkit-justify-content: flex-start;
     -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
       -o-justify-content: flex-start;
          justify-content: flex-start;
}

body > .row > [class*='coffee-span-'].flex-start.reversed-row.three-elements-column {
  -webkit-flex-direction: row-reverse;
     -moz-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
       -o-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body > .row > [class*='coffee-span-'].center.three-elements-column {
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
}

body > .row > [class*='coffee-span-'].space-between.three-elements-column {
  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
       -o-justify-content: space-between;
          justify-content: space-between;
}

body > .row > [class*='coffee-span-'].space-around.three-elements-column {
  -webkit-justify-content: space-around;
     -moz-justify-content: space-around;
      -ms-justify-content: space-around;
       -o-justify-content: space-around;
          justify-content: space-around;
}

body > .row > [class*='coffee-span-'].align-stretch.center.three-elements-column {
  -webkit-align-items: stretch;
     -moz-align-items: stretch;
      -ms-align-items: stretch;
       -o-align-items: stretch;
          align-items: stretch;
}

body > .row > [class*='coffee-span-'].align-start.center.three-elements-column {
  -webkit-align-items: flex-start;
     -moz-align-items: flex-start;
      -ms-align-items: flex-start;
       -o-align-items: flex-start;
          align-items: flex-start;
}

body > .row > [class*='coffee-span-'].align-end.center.three-elements-column {
  -webkit-align-items: flex-end;
     -moz-align-items: flex-end;
      -ms-align-items: flex-end;
       -o-align-items: flex-end;
          align-items: flex-end;
}

body > .row.full-width.sample-vertical-align {
  max-width: none;
}

body > .row > [class*='coffee-span-'].quotes-column {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  min-height: 200px;

  -webkit-justify-content: space-around;
     -moz-justify-content: space-around;
      -ms-justify-content: space-around;
       -o-justify-content: space-around;
          justify-content: space-around;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
     -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
       -o-flex-wrap: wrap;
          flex-wrap: wrap;
}

body > .row > [class*='coffee-span-'].extended.quotes-column {
  min-height: 450px;

  -webkit-align-content: center;
     -moz-align-content: center;
      -ms-align-content: center;
       -o-align-content: center;
          align-content: center;
  -webkit-align-items: flex-end;
     -moz-align-items: flex-end;
      -ms-align-items: flex-end;
       -o-align-items: flex-end;
          align-items: flex-end;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
}

body > .row.hero-section {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100px;
  max-width: none;
  background-image: url('../images/SplitShire-7547.jpg');
  background-position: center center;
  background-size: cover;
}

body > .row.product-detail-row {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: none;
  background-color: #f0f0f0;
}

body > .row.footer {
  padding-top: 60px;
  padding-bottom: 120px;
}

body > .row > [class*='coffee-span-'].info-message-column {
  border-left: 3px solid #ffcb8c;
  background-color: rgba(227, 214, 191, .25);
}

body > .row > [class*='coffee-span-'].add-height.center {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
       -o-flex-direction: row;
          flex-direction: row;
  min-height: 320px;
  height: 100%;

  -webkit-align-items: flex-start;
     -moz-align-items: flex-start;
      -ms-align-items: flex-start;
       -o-align-items: flex-start;
          align-items: flex-start;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
}

body > .row > [class*='coffee-span-'].hero-flex-column {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
}

body > .row.cover-row {
  min-height: 350px;
  max-width: none;
  background-image: url('../cover.jpg');
  background-position: center center;
  background-size: cover;
}

.subgrid > .row.header-sub-row {
  max-width: 1200px;
}

.subgrid > .row > [class*='coffee-span-'].header-sub-column {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 0;

  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
       -o-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

.subgrid > .row > [class*='coffee-span-'].product-detail-subcol {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  margin-bottom: 8px;
  padding-top: 60px;
  padding-bottom: 0;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: #fff;
}

.subgrid > .row > [class*='coffee-span-'].subscribe-flex-container {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
}

.row > [class*='coffee-span-'] > .container.container-2 {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  max-width: 535px;
  width: 100%;

  -webkit-justify-content: space-between;
     -moz-justify-content: space-between;
      -ms-justify-content: space-between;
       -o-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

span.glyph.font-icon-3 {
  padding: 13px 15px 12px 14px;
  border-width: 0;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: #242932;
  color: #fff;
  font-size: 20px;
  line-height: 1;

  -webkit-align-self: center;
     -moz-align-self: center;
      -ms-align-self: center;
       -o-align-self: center;
          align-self: center;
}

div.responsive-picture.sample-nav-logo {
  margin-right: 5%;
  margin-left: 2%;
  max-width: 100px;
}

.row > [class*='coffee-span-'] > .container.three-elements-item {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  margin: 15px 1%;
  padding: 20px;
  max-width: none;
  width: auto;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: #fff;

  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

div.responsive-picture.three-elements-product {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.row > [class*='coffee-span-'] > .container.credential-container {
  margin-bottom: 0;
}

.row > [class*='coffee-span-'] > .container.auto-width.three-elements-item {
  width: auto;
}

.row > [class*='coffee-span-'] > .container.small.three-elements-item {
  max-width: 180px;
}

div.responsive-picture.small.three-elements-product {
  max-width: 140px;
}

div.responsive-picture.less-height.small.three-elements-product {
  max-width: 100px;
  max-height: 100px;
}

.row > [class*='coffee-span-'] > .container.small.space-between.three-elements-item {
  margin-right: 3%;
  margin-left: 3%;

  -webkit-align-content: flex-start;
     -moz-align-content: flex-start;
      -ms-align-content: flex-start;
       -o-align-content: flex-start;
          align-content: flex-start;
}

.row > [class*='coffee-span-'] > .container#number-3 {
  -webkit-order: 1;
     -moz-order: 1;
      -ms-order: 1;
       -o-order: 1;
          order: 1;
}

.row > [class*='coffee-span-'] > .container#number-2 {
  -webkit-order: 2;
     -moz-order: 2;
      -ms-order: 2;
       -o-order: 2;
          order: 2;
}

div.responsive-picture.product-detail {
  margin-bottom: 0;
  max-width: 450px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: #fff;

  -webkit-order: 0;
     -moz-order: 0;
      -ms-order: 0;
       -o-order: 0;
          order: 0;
}

.row > [class*='coffee-span-'] > .container.product-detail-container {
  padding-left: 50px;
}

.row > [class*='coffee-span-'] > .container#oil {
  -webkit-flex: 0 40%;
     -moz-flex: 0 40%;
      -ms-flex: 0 40%;
       -o-flex: 0 40%;
          flex: 0 40%;
}

.row > [class*='coffee-span-'] > .container#razor {
  -webkit-flex: 0 15%;
     -moz-flex: 0 15%;
      -ms-flex: 0 15%;
       -o-flex: 0 15%;
          flex: 0 15%;
}

.row > [class*='coffee-span-'] > .container#brush {
  -webkit-flex: 0 15%;
     -moz-flex: 0 15%;
      -ms-flex: 0 15%;
       -o-flex: 0 15%;
          flex: 0 15%;
}

.row > [class*='coffee-span-'] > .container#brush-copy-1 {
  -webkit-flex: 1 15%;
     -moz-flex: 1 15%;
      -ms-flex: 1 15%;
       -o-flex: 1 15%;
          flex: 1 15%;
}

.row > [class*='coffee-span-'] > .container#oil-copy-1 {
  -webkit-flex: 0 40%;
     -moz-flex: 0 40%;
      -ms-flex: 0 40%;
       -o-flex: 0 40%;
          flex: 0 40%;
}

.row > [class*='coffee-span-'] > .container#razor-copy-1 {
  -webkit-flex: 1 15%;
     -moz-flex: 1 15%;
      -ms-flex: 1 15%;
       -o-flex: 1 15%;
          flex: 1 15%;
}

.row > [class*='coffee-span-'] > .container.hero-flex-container {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  min-height: 540px;
  height: 100%;

  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

.row > [class*='coffee-span-'] > .container#align-2 {
  -webkit-align-self: center;
     -moz-align-self: center;
      -ms-align-self: center;
       -o-align-self: center;
          align-self: center;
}

.row > [class*='coffee-span-'] > .container#align-3 {
  -webkit-align-self: flex-end;
     -moz-align-self: flex-end;
      -ms-align-self: flex-end;
       -o-align-self: flex-end;
          align-self: flex-end;
}

@media screen and (max-width: 1084px) {
  /* Text Elements */

  h1.welcome-title {
    color: #c5af9c;
  }

  h4.heading-1 {
    color: #ffb442;
  }

  h6.outstanding {
    color: #333;
  }

  p.paragraph.credentials.title {
    color: #2e7cb8;
  }

  p.paragraph.paragraph-2 {
    color: #5e5955;
  }

  p.paragraph.info-message {
    color: #5e5955;
  }

  /* Interaction Elements */

  a.link-button.buy-button {
    background-color: #5e1e12;
  }

  /* Layout Elements */

  body > .row.sample-three-elements {
    background-color: #f0f0f0;
  }

  body > .row > [class*='coffee-span-'].info-message-column {
    background-color: rgba(227, 214, 191, .25);
  }

  body > .row.sample-vertical-align {
    background-color: #4c4e61;
  }
}

@media screen and (max-width: 768px) {
  /* Text Elements */

  h1.welcome-intro-title {
    font-size: 22px;
  }

  h1.welcome-title {
    font-size: 40px;
  }

  h4 {
    font-size: 25px;
  }

  h6.outstanding {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 22px;
  }

  h6.product-detail.three-elements-title {
    text-align: center;
  }

  h6.caption {
    font-size: 16px;
  }

  p.paragraph {
    font-size: 15px;
  }

  p.paragraph span.code {
    font-size: 14px;
  }

  p.paragraph span.control {
    font-size: 14px;
  }

  p.paragraph.product-description {
    max-width: none;
  }

  blockquote.vertical-align-quotes {
    font-size: 20px;
    line-height: 1.3;
  }

  a.link-text.nav-link {
    padding-top: 10px;
    font-size: 16px;
  }

  a.link-text.active.nav-link {
    padding-top: 8px;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].three-elements-column {
    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
            flex-direction: row;

    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
            align-items: center;
  }

  body > .row {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  body > .row.article-header {
    margin-top: -153px;
    padding-top: 40px;
  }

  body > .row.cover-row {
    min-height: 300px;
  }

  .subgrid > .row > [class*='coffee-span-'].product-detail-subcol {
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
            flex-direction: column;

    -webkit-justify-content: flex-start;
       -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
         -o-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
            align-items: center;
  }

  .row > [class*='coffee-span-'] > .container.container-2 {
    -webkit-justify-content: flex-end;
       -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
         -o-justify-content: flex-end;
            justify-content: flex-end;
  }

  .row > [class*='coffee-span-'] > .container.three-elements-item {
    -webkit-align-self: stretch;
       -moz-align-self: stretch;
        -ms-align-self: stretch;
         -o-align-self: stretch;
            align-self: stretch;
  }

  .row > [class*='coffee-span-'] > .container.product-detail-container {
    padding-right: 50px;
  }

  div.responsive-picture.product-detail.reorder-top {
    max-width: 350px;

    -webkit-order: -1;
       -moz-order: -1;
        -ms-order: -1;
         -o-order: -1;
            order: -1;
  }

  div.responsive-picture.product-detail {
    max-width: 350px;
  }
}

@media screen and (max-width: 460px) {
  /* Text Elements */

  h1.welcome-intro-title {
    font-size: 18px;
  }

  h1.welcome-title {
    letter-spacing: 0;
    font-size: 26px;
  }

  h4 {
    margin-bottom: 0;
    font-size: 20px;
  }

  h6.outstanding {
    font-size: 18px;
  }

  h6.caption {
    font-size: 14px;
  }

  p.paragraph {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 1.6;
  }

  p.paragraph.credentials {
    font-size: 11px;
  }

  p.paragraph.three-elements-paragraph {
    display: none;
  }

  p.paragraph span.code {
    font-size: 12px;
  }

  p.paragraph span.control {
    font-size: 12px;
  }

  p.paragraph.side-note {
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 10px;
    border: 1px dotted rgba(94, 89, 85, .25);
    font-size: 11px;
  }

  blockquote.vertical-align-quotes {
    font-size: 18px;
  }

  a.link-text.nav-link {
    padding: 5px 10px;
    font-size: 14px;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].quotes-column {
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
            flex-direction: column;
  }

  body > .row.cover-row {
    min-height: 200px;
  }

  body > .row.article-header {
    margin-top: -136px;
  }

  .subgrid > .row > [class*='coffee-span-'].header-sub-column {
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
            flex-direction: column;
  }

  .row > [class*='coffee-span-'] > .container.credential-container {
    float: left;
    min-width: 10px;
    width: 50%;
  }

  div.responsive-picture.three-elements-product {
    min-width: 0;
    max-width: 150px;
  }

  .row > [class*='coffee-span-'] > .container.container-2 {
    -webkit-justify-content: space-between;
       -moz-justify-content: space-between;
        -ms-justify-content: space-between;
         -o-justify-content: space-between;
            justify-content: space-between;
  }

  div.responsive-picture.sample-nav-logo {
    max-width: 70px;
  }

  div.responsive-picture.product-detail {
    min-width: 0;
    max-width: 150px;
  }

  .row > [class*='coffee-span-'] > .container#brush {
    -webkit-flex: 0 0 20%;
       -moz-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
         -o-flex: 0 0 20%;
            flex: 0 0 20%;
  }

  .row > [class*='coffee-span-'] > .container#oil {
    -webkit-flex: 0 30%;
       -moz-flex: 0 30%;
        -ms-flex: 0 30%;
         -o-flex: 0 30%;
            flex: 0 30%;
  }

  .row > [class*='coffee-span-'] > .container#razor {
    -webkit-flex: 0 20%;
       -moz-flex: 0 20%;
        -ms-flex: 0 20%;
         -o-flex: 0 20%;
            flex: 0 20%;
  }

  .row > [class*='coffee-span-'] > .container.product-detail-container {
    padding-right: 10px;
    padding-left: 10px;
  }

  div.responsive-picture.product-detail.reorder-top {
    max-width: 150px;
  }

  .row > [class*='coffee-span-'] > .container.hero-flex-container {
    min-height: 340px;
  }
}