/* Text Elements */

h1 span.heading-text-1 {
  font-weight: 300;
}

h1.logo-heading {
  margin: 1.1111111111111112em auto 0;
  padding-top: .2222222222222222em;
  padding-bottom: .2619047619047619em;
  width: auto;
  background-color: #212121;
  color: #dbdbdb;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25em;
}

h4 {
  color: #695f5a;
  font-size: 1.75em;
}

h4.heading-1 {
  color: #695f5a;
}

p.paragraph span.paragraph-text-1 {
  font-weight: 600;
  font-size: 1.1666666666666667em;
}

p.paragraph.address-text {
  margin-top: .8333333333333334em;
  margin-left: 1%;
  font-size: .75em;
  line-height: 1.4;
}

p.paragraph.address-text.sub-text {
  margin-top: 0;
  text-align: center;
}

p.paragraph a.map-link {
  color: #619de5;
  font-weight: 600;
}

p.paragraph.footer-text {
  margin-top: 3.9285714285714284em;
  margin-bottom: 2.857142857142857em;
  color: #5e5e5e;
  text-align: center;
}

p.paragraph {
  font-size: .9375em;
  line-height: 1.5;
}

a.link-text.nav-link {
  display: inline-block;
  padding-right: .3333333333333333em;
  padding-left: .3333333333333333em;
  color: #fff;
  text-decoration: none;
  letter-spacing: .08em;
  font-size: 1.3125em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

a.link-text.dot.nav-link {
  color: rgba(255, 255, 255, .60);
  font-size: .75em;
}

a.link-text.active.nav-link {
  border-bottom: .041666666666666664em none #969696;
  color: #3d352f;
}

a.link-text.nav-link:hover {
  color: #595048;
}

a.link-text.dot.nav-link:hover {
  color: rgba(255, 255, 255, .6);
}

/* Layout Elements */

body > .row {
  max-width: 62.5em;
  background-color: rgba(255, 255, 255, .9);
}

body.grid-1 {
  padding-right: 1.25em;
  padding-left: 1.25em;
  background-image: url('../images/wood2-bg.jpg');
}

body > .row.main-row {
  margin-top: 0;
  padding-top: 0;
  padding-right: 1.25em;
  padding-left: 1.25em;
}

body > .row > [class*='coffee-span-'].map-column {
  background-image: url('https://sdrive-storage.s3.amazonaws.com/rsd/5547de5c90d2d5/41507535/map-rosas.png');
  background-size: contain;
  background-repeat: no-repeat;
}

body > .row > [class*='coffee-span-'].paper {
  background-image: url('../background.gif');
}

body > .row > [class*='coffee-span-'].nav-column {
  margin-bottom: 1.25em;
  margin-left: 0;
  background-color: #b39489;
}

body > .row.picture-row {
  padding-right: .625em;
  padding-bottom: 1.25em;
  padding-left: .625em;
}

body > .row > [class*='coffee-span-'].picture-col {
  padding-right: .625em;
  padding-left: .625em;
}

body > .row > [class*='coffee-span-'].logo-heading-column {
  padding-right: 0;
  padding-left: 0;
}

div.responsive-picture.gallery-image {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  border: .4375em solid #fff;
  box-shadow: rgba(0, 0, 0, .25) 0 1px 3px 0;
}

div.responsive-picture.gallery-image > picture {
  margin: 0;
}

span.glyph.font-icon-1 {
  float: none;
  margin-top: .55em;
  width: auto;
  color: #619de5;
  text-align: center;
  font-size: 1.25em;
}

.row > [class*='coffee-span-'] > .container.nav-container {
  margin: 0 auto;
  padding: .625em;
  min-width: 0;
  max-width: none;
  width: auto;
  border: .0625em none #676b20;
  background-color: transparent;
  text-align: center;
}

.row > [class*='coffee-span-'] .subgrid.address-grid {
  margin-top: 1.25em;
  margin-bottom: 25em;
  margin-left: 1%;
  max-width: 26.25em;
  background-color: #fcfcfc;
  box-shadow: rgba(119, 119, 119, .5) 1px 1px 5px 0;
}

div.responsive-picture.gallery-image.wide {
  max-height: 31.25em;
}

.row > [class*='coffee-span-'] > .container.container-2 {
  margin-bottom: 0;
}

.row > [class*='coffee-span-'] > .container.logo-heading-container {
  margin-bottom: 0;
}

a.responsive-picture.image-link-1 {
  margin: 3.75em auto 3.125em;
  max-width: 50em;
  border: .4375em solid #fff;
  box-shadow: rgba(0, 0, 0, .25) 0 1px 3px 0;
}

a.responsive-picture.image-link-1 > picture {
  margin: 0;
}

div.responsive-picture.gallery-image.wide > picture {
  margin: 0;
}

.row > [class*='coffee-span-'] > .container {
  width: auto;
}

@media screen and (max-width: 40.75em) {
  /* Text Elements */

  h1.logo-heading {
    margin-bottom: 0;
    padding-top: .32142857142857145em;
    padding-bottom: .39285714285714285em;
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5625em;
  }

  p.paragraph {
    font-size: .875em;
  }

  a.link-text.nav-link {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].map-column {
    background-position: 60% 0;
    background-origin: padding-box;
    background-size: auto 80%;
  }

  body > .row.picture-row {
    padding-bottom: 0;
  }

  div.responsive-picture.gallery-image {
    float: none;
    margin-right: auto;
    margin-bottom: 1.25em;
    margin-left: auto;
    max-width: none;
  }

  .row > [class*='coffee-span-'] > .container.nav-container {
    margin-top: 0;
    min-width: 1.25em;
    max-width: 31.875em;
    width: auto;
  }

  a.responsive-picture.image-link-1 {
    margin-top: 1.875em;
    max-width: none;
  }
}

@media screen and (max-width: 25.9375em) {
  /* Text Elements */

  h1.logo-heading {
    padding-top: .4166666666666667em;
    padding-bottom: .5em;
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.375em;
  }

  a.link-text.nav-link {
    font-size: 1.375em;
  }

  /* Layout Elements */

  body.grid-1 {
    padding-right: .625em;
    padding-left: .625em;
  }

  body > .row.picture-row {
    padding-right: 0;
    padding-left: 0;
  }

  body > .row > [class*='coffee-span-'].nav-column {
    margin-bottom: .625em;
    margin-left: 0;
  }

  body > .row.main-row {
    padding-right: 0;
    padding-left: 0;
  }

  div.responsive-picture.gallery-image {
    margin-bottom: .625em;
    border-width: .3125em;
  }

  a.responsive-picture.image-link-1 {
    border-width: .3125em;
  }
}