html { position: relative; margin: 0; padding: 0; height: 100%; }
body { margin: 0; padding: 0; text-align: left; height: 100%; }
#imPageExtContainer {min-height: 100%; }
#imPageIntContainer { position: relative;}
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imContentContainer { position: relative; }
#imContent { position: relative; }
#imContentGraphics { position: absolute; top: 0; bottom: 0; }
#imFooPad { float: left; margin: 0 auto; }
#imBtMnContainer { clear: both; }
.imPageRow { position: relative; clear: both; float: left; width: 100%; }
.imHGroup:after, .imUGroup:after, .imVGroup:after, .imPageRow:after { content: ""; display: table; clear: both; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imFooter { position: relative; }
#imStickyBarContainer { visibility: hidden; }
#imPageToTop { position: fixed; bottom: 30px; right: 30px; z-index: 5000; display: none; opacity: 0.75 }
#imPageToTop:hover {opacity: 1; cursor: pointer; }
@media (min-width: 1150px) {
		#imPageExtContainer { background-image: none; background-color: rgba(74, 68, 72, 1); }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 1150px; }
		#imHeaderBg { height: 700px; background-image: url('network-1246209_1920-4-.jpg'); background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-color: rgba(236, 105, 75, 1); }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 700px; background-image: none; background-color: transparent; }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 700px; width:1150px; }
		#imContent { min-height: 820px; padding: 5px 0 5px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 820px;  background-image: none; background-color: transparent; }
		#imFooterBg { height: 200px; background-image: none; background-color: rgba(115, 117, 240, 1); }
		#imFooter { margin-left: auto; margin-right: auto; height: 200px; background-image: none; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 200px; width:1150px; }
		#imSideBarContainer { display: none; }	#imStickyBarContainer { position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 65px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 65px; box-sizing: border-box; background-image: none; background-color: rgba(191, 0, 143, 1); opacity: 1}
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 1150px }
		#imStickyBarObjects { position: relative; height: 65px; }
		#imFooPad { height: 820px; }
		#imSideBarContainer { width: 1150px; }
		#imHeader { width: 1150px; }
		#imFooter { width: 1150px; }
		#imSideBar { width: 150px; }
		#imContentGraphics { width: 1150px; }
	
}
@media (max-width: 1149px) and (min-width: 720px) {
		#imPageExtContainer { background-image: none; background-color: rgba(74, 68, 72, 1); }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 720px; }
		#imHeaderBg { height: 700px; background-image: url('network-1246209_1920-1--1-.jpg'); background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-color: rgba(236, 105, 75, 1); }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 700px; background-image: none; background-color: transparent; }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 700px; width:720px; }
		#imContent { min-height: 820px; padding: 5px 0 5px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 820px;  background-image: none; background-color: transparent; }
		#imFooterBg { height: 200px; background-image: none; background-color: rgba(115, 117, 240, 1); }
		#imFooter { margin-left: auto; margin-right: auto; height: 200px; background-image: none; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 200px; width:720px; }
		#imSideBarContainer { display: none; }	#imStickyBarContainer { position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; background-image: none; background-color: rgba(255, 216, 163, 1); opacity: 1}
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 720px }
		#imStickyBarObjects { position: relative; height: 60px; }
		#imFooPad { height: 820px; }
		#imSideBarContainer { width: 720px; }
		#imHeader { width: 720px; }
		#imFooter { width: 720px; }
		#imSideBar { width: 150px; }
		#imContentGraphics { width: 720px; }
	
}
@media (max-width: 719px) and (min-width: 480px) {
		#imPageExtContainer { background-image: none; background-color: rgba(74, 68, 72, 1); }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 480px; }
		#imHeaderBg { height: 700px; background-image: url('network-1246209_1920-2--1-.jpg'); background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-color: rgba(236, 105, 75, 1); }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 700px; background-image: none; background-color: transparent; }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 700px; width:480px; }
		#imContent { min-height: 820px; padding: 5px 0 5px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 820px;  background-image: none; background-color: transparent; }
		#imFooterBg { height: 200px; background-image: none; background-color: rgba(115, 117, 240, 1); }
		#imFooter { margin-left: auto; margin-right: auto; height: 200px; background-image: none; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 200px; width:480px; }
		#imSideBarContainer { display: none; }	#imStickyBarContainer { position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; background-image: none; background-color: rgba(255, 216, 163, 1); opacity: 1}
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 480px }
		#imStickyBarObjects { position: relative; height: 60px; }
		#imFooPad { height: 820px; }
		#imSideBarContainer { width: 480px; }
		#imHeader { width: 480px; }
		#imFooter { width: 480px; }
		#imSideBar { width: 150px; }
		#imContentGraphics { width: 480px; }
	
}
@media (max-width: 479px) {
		#imPageExtContainer { background-image: none; background-color: rgba(74, 68, 72, 1); }
		#imPage { padding-top: 0px; padding-bottom: 0px; }
		#imHeaderBg { height: 700px; background-image: url('network-1246209_1920-3--1-.jpg'); background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-color: rgba(236, 105, 75, 1); }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 700px; background-image: none; background-color: transparent; }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 700px; width:320px; }
		#imContent { min-height: 820px; padding: 5px 0 5px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 820px;  background-image: none; background-color: transparent; }
		#imFooterBg { height: 200px; background-image: none; background-color: rgba(115, 117, 240, 1); }
		#imFooter { margin-left: auto; margin-right: auto; height: 200px; background-image: none; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 200px; width:320px; }
		#imSideBarContainer { display: none; }	#imStickyBarContainer { position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 60px; box-sizing: border-box; background-image: none; background-color: rgba(255, 216, 163, 1); opacity: 1}
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 320px }
		#imStickyBarObjects { position: relative; height: 60px; }
		#imFooPad, #imBtMnContainer, #imBtMn, #imPgMnContainer { display: none; }
		#imHeader { width: 100%; max-width: 320px; }
		#imFooter { width: 100%; max-width: 320px; }
		#imPage, #imSideBar, #imContent, #imContentGraphics { box-sizing: border-box; width: 100%; }
	
}
