/* General purpose WSX5's required classes */
.imClear { visibility: hidden; clear: both; border: 0; margin: 0; padding: 0; }
.imHidden { display: none; }
.imCaptFrame { vertical-align: middle; }
.imAlertMsg { padding: 10px; font: 10pt "Trebuchet MS"; text-align: center; color: #000; background-color: #fff; border: 1px solid; }
.alert { padding: 5px 7px; margin: 5px 0 10px 0; border-radius: 5px; border: 1px solid; font: inherit; }
.alert-red { color: #ff6565; border-color: #ff6565; background-color: #fcc; }
.alert-green { color: #46543b; border-color: #8da876; background-color: #d5ffb3; }
.object-generic-error { display: table; background-color: black; color: white; position: absolute; top: 0; bottom: 0; left: 0; right: 0; font-family: 'Tahoma'; text-align: center; }
.object-generic-error div { display: table-row; }
.object-generic-error div div { display: table-cell; vertical-align: middle; padding: 0 20px; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.vertical-middle, tr.vertical-middle td { vertical-align: middle; }
/* Common buttons style */
.im-common-left-button{
	width: 50px;
	height: 50px;
}
.im-common-left-button.disabled{
	opacity: 0.4 !important; cursor: default;
}
.im-common-left-button:hover{
	opacity: 0.8;
}

.im-common-right-button{
	width: 50px;
	height: 50px;
}
.im-common-right-button.disabled{
	opacity: 0.4 !important; cursor: default;
}
.im-common-right-button:hover{
	opacity: 0.8;
}

.im-common-close-button{
	width: 50px;
	height: 50px;
}
.im-common-close-button.disabled{
	opacity: 0.4 !important; cursor: default;
}
.im-common-close-button:hover{
	opacity: 0.8;
}

.im-common-enter-fs-button{
	width: 50px;
	height: 50px;
}
.im-common-enter-fs-button.disabled{
	opacity: 0.4 !important; cursor: default;
}
.im-common-enter-fs-button:hover{
	opacity: 0.8;
}

.im-common-exit-fs-button{
	width: 50px;
	height: 50px;
}
.im-common-exit-fs-button.disabled{
	opacity: 0.4 !important; cursor: default;
}
.im-common-exit-fs-button:hover{
	opacity: 0.8;
}

.im-common-zoom-in-button{
	width: 50px;
	height: 50px;
}
.im-common-zoom-in-button.disabled{
	opacity: 0.4 !important; cursor: default;
}
.im-common-zoom-in-button:hover{
	opacity: 0.8;
}

.im-common-zoom-out-button{
	width: 50px;
	height: 50px;
}
.im-common-zoom-out-button.disabled{
	opacity: 0.4 !important; cursor: default;
}
.im-common-zoom-out-button:hover{
	opacity: 0.8;
}

.im-common-zoom-restore-button{
	width: 50px;
	height: 50px;
}
.im-common-zoom-restore-button.disabled{
	opacity: 0.4 !important; cursor: default;
}
.im-common-zoom-restore-button:hover{
	opacity: 0.8;
}

.im-common-button-text-style{
	font-family: Tahoma;
	font-size: 14pt;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
}
#imShowBox .grabbable { cursor: grab; cursor: -webkit-grab; }
#imShowBox .grabbing { cursor: grabbing; cursor: -webkit-grabbing; }


/* Page default */
#imPage { font: normal normal normal 10pt 'Tahoma'; color: rgba(255, 255, 255, 1); background-color: transparent; text-align: left; text-decoration: none; }
.text-tab-content { text-align: left; }
.text-tab-content hr { border-color: rgba(255, 255, 255, 1); }body.wysiwyg { padding: 3px; font: normal normal normal 10pt 'Tahoma';  color: black; line-height: 1; }
body.wysiwyg p { margin: 0; line-height: 20px; }
.dynamic-object-text p { line-height: 20px; }


/* Page Title */
#imPgTitle, #imPgTitle a, .imPgTitle, .imPgTitle a { padding-top: 2px; padding-bottom: 2px; margin: 5px 0; font: normal normal bold 14pt 'Tahoma'; color: rgba(224, 224, 224, 1); background-color: transparent; text-align: left; text-decoration: none; }
#imPgTitle, .imPgTitle { border-width: 1px; border-style: solid; border-color: transparent transparent transparent transparent; }
#imPgTitle.imTitleMargin, .imPgTitle.imTitleMargin { margin-left: 6px; margin-right: 6px; }
#imPgTitle, .imPgTitle { display: none; }


/* Breadcrumb */
.imBreadcrumb, #imBreadcrumb { display: none; }
.imBreadcrumb, .imBreadcrumb a, #imBreadcrumb, #imBreadcrumb a { padding-top: 2px; padding-bottom: 2px; font: normal normal normal 7pt 'Tahoma'; color: rgba(169, 169, 169, 1); background-color: transparent; text-align: left; text-decoration: none;  border-width: 1px; border-style: solid; border-color: transparent transparent transparent transparent}
.imBreadcrumb a, .imBreadcrumb a:link, .imBreadcrumb a:hover, .imBreadcrumb a:visited, .imBreadcrumb a:active { color: rgba(169, 169, 169, 1); }


/* Links */
.imCssLink:link, .imCssLink { background-color: transparent; color: rgba(255, 223, 128, 1); text-decoration: none; transition: color 0.2s linear, background-color 0.2s linear;}
.imCssLink:visited { background-color: transparent; color: rgba(255, 223, 128, 1); text-decoration: none; }
.imCssLink:hover, .imCssLink:active, .imCssLink:hover, .imCssLink:active { background-color: transparent; color: rgba(255, 223, 128, 1); text-decoration: underline; }
.imAbbr:link { background-color: transparent; color: rgba(255, 223, 128, 1); text-decoration: none; }
.imAbbr:visited { background-color: transparent; color: rgba(255, 223, 128, 1); text-decoration: none; }
.imAbbr:hover, .imAbbr:active { background-color: transparent; color: rgba(255, 223, 128, 1); border-bottom: 1px dotted rgba(255, 223, 128, 1); text-decoration: none; }
#imPage input[type=text], #imPage input[type=password], textarea, #imCartContainer .userForm select { font: inherit; border-style: solid; border-width: 1px 1px 1px 1px; border-color: rgba(255, 216, 163, 1) rgba(255, 216, 163, 1) rgba(255, 216, 163, 1) rgba(255, 216, 163, 1); background-color: rgba(255, 255, 255, 1); color: rgba(0, 0, 0, 1); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;padding: 10px 10px 10px 10px; box-sizing: border-box; }
textarea { resize: none; }
#imPage input[type=button], #imPage input[type=submit], #imPage input[type=reset] {padding: 11px 10px 11px 10px; cursor: pointer; font: inherit; border-style: solid; border-width: 0px 0px 0px 0px; border-color: rgba(37, 58, 88, 1) rgba(37, 58, 88, 1) rgba(37, 58, 88, 1) rgba(37, 58, 88, 1); background-color: rgba(255, 216, 163, 1); color: rgba(0, 0, 0, 1); border-style: solid; border-width: 0px 0px 0px 0px; border-color: rgba(37, 58, 88, 1) rgba(37, 58, 88, 1) rgba(37, 58, 88, 1) rgba(37, 58, 88, 1); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;box-sizing: content-box; }
.search_form input { border-radius: 0; }
.imNoScript { position: absolute; top: 5px; left: 5%; width: 90%; font: normal normal normal 10pt 'Tahoma'; text-align: left; text-decoration: none; }

/* Tip */
.imTip { z-index: 100201; background-color: rgba(255, 216, 163, 1); border-style: solid; border-width: 0px 0px 0px 0px; border-color: transparent transparent transparent transparent; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;font: normal normal normal 9pt 'Tahoma'; color: rgba(0, 0, 0, 1); background-color: rgba(255, 216, 163, 1); text-align: center; text-decoration: none;  margin: 0 auto; padding: 10px; position: absolute; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; box-shadow: 1px 1px 1px 0px rgba(128, 128, 128, 1);}
.imTipArrowBorder { border-color: transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute; }
.imTipArrow { border-color: rgba(255, 216, 163, 1); border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute; }
.imReverseArrow { border-color: transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute; top: -20px; left: 30px; }
.imTip img { margin-bottom: 6px; max-width: 100%; }


/* Date Picker */
#imDatePicker { position: absolute; width: 230px; padding: 5px; background-color: white; font-family: Arial; border: 1px solid #888;}
#imDatePicker table { border-collapse: collapse; margin-left: auto; margin-right: auto; }
#imDatePicker #imDPHead { padding: 10px; line-height: 20px; height: 20px; display: block; text-align: center; border: 1px solid #aaaaaa; background-color: #c1cbd5; }
#imDatePicker #imDPMonth { text-align: center; padding: 3px 30px 3px 30px; font-size: 12px; font-weight: bold; }
#imDatePicker .day { background-color: #fff; text-align: center; border: 1px solid #aaa; vertical-align: middle; width: 30px; height: 20px; font-size: 10px; cursor: pointer; }
#imDatePicker .selDay { background-color: rgb(255,240,128); }
#imDatePicker .day:hover { background: #fff; }
#imDatePicker .imDPhead { cursor: default; font-size: 12px; text-align: center; height: 25px; vertical-align: middle; }
#imDatePicker #imDPleft, #imDatePicker #imDPright { display: inline; cursor: pointer; font-weight: bold; }


/* Popup */
#imGuiPopUp { padding: 10px; position: fixed; background-color: rgba(0, 0, 0, 1); border-style: solid; border-width: 1px 1px 1px 1px; border-color: rgba(255, 216, 163, 1) rgba(255, 216, 163, 1) rgba(255, 216, 163, 1) rgba(255, 216, 163, 1); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;font: normal normal normal 9pt 'Tahoma'; color: rgba(0, 0, 0, 1); background-color: rgba(255, 255, 255, 1); text-align: left; text-decoration: none; }
.imGuiButton { margin-top: 20px; margin-left: auto; margin-right: auto; text-align: center;  width: 80px; cursor: pointer; background-color: #444; color: white; padding: 5px; font-size: 14px; font-family: Arial; }
#imGuiPopUpBg { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 1); }
.alertbox { cursor: default; text-align: center; padding: 0; }
.alertbox .close-button { cursor: pointer; position: absolute; top: 2px; right: 2px; font-weight: bold; cursor: pointer; font-family: Tahoma; }
.alertbox .target-image { cursor: pointer; margin: 0px auto; }


/* Splash Box */
.splashbox { position: fixed; padding: 0; background-color: transparent; border: none; }
.splashbox img { cursor: pointer; }
.splashbox .imClose { position: absolute; top: -10px; right: -10px; }


/* Advertising Corner */


/* Alert Box */
#alertbox-advcorner { background-color: rgba(0, 0, 0, 1); border-bottom: 1px solid #696969; border-top: 1px solid #696969; }
#alertbox-advcorner .message-container { text-align: center; overflow: hidden; }
#welcome-flags { margin: 0 auto; text-align: center; }
#welcome-flags div { display: inline-block; margin: 10px; }
#welcome-mediaplayertarget { overflow: hidden; }
.prt_field { display: none; }
.topic-summary { margin: 10px auto 20px auto; text-align: center; }
.topic-form { text-align: left; margin-bottom: 30px; }
.topic-comment { margin: 0 0 10px 0; padding: 5px 0; border-bottom: 1px dotted rgba(255, 255, 255, 1); }
.topic-comments-count { font-weight: bold; margin: 10px 0 7px;}
.topic-comments-user { margin-bottom: 5px; margin-right: 5px; font-weight: bold;}
.topic-comments-abuse { margin: 5px 0 0 0; border: none; padding: 3px 0 0 0; text-align: right; }
.topic-comments-abuse img { margin-left: 3px; vertical-align: middle; }
.topic-comments-date { margin-bottom: 5px; }
.imCaptFrame { position: absolute; float: right; margin: 0; padding: 0; top: 5px;}
.topic-form-row { position: relative; clear: both; padding-top: 5px; }
.topic-star-container-big, .topic-star-container-small { display: inline-block; position: relative; background-repeat: repeat-x; background-position: left top; }
.topic-star-container-big { width: 160px; height: 34px; }
.topic-star-container-small { width: 80px; height: 16px; }
.topic-star-fixer-big, .topic-star-fixer-small { display: block; position: absolute; top: 0; left: 0; background-repeat: repeat-x; background-position: left top; }
.topic-star-fixer-big { height: 34px; }
.topic-star-fixer-small { height: 16px; }
.topic-pagination { text-align: center; margin: 7px 0; }
.variable-star-rating { cursor: pointer; }
#cookie-law-message {background-color: rgba(40, 40, 40, 1);color: rgba(255, 255, 255, 1);font: normal normal normal 11pt 'Tahoma'; ; padding:16px;}
#cookie-law-message .splashContent { padding:25px;}
#cookie-law-message .imClose, #cookie-law-message .close-button { top:5px; right:5px; margin:0; cursor: pointer;}
#cookie-law-message .svgClose {height:20px; width:20px; fill:rgba(255, 255, 255, 1); }
#cookie-law-message .imCloseInn:hover {opacity: 0.8; }
#cookie-law-message .message-container .wrapper-content > div { display:inline-block; }
#media-query-to-js { position: absolute; display: none; }@media (min-width: 1150px) {
	#media-query-to-js { width: 1150px; }
}
@media (max-width: 1149px) and (min-width: 720px) {
	#media-query-to-js { width: 720px; }
}
@media (max-width: 719px) and (min-width: 480px) {
	#media-query-to-js { width: 480px; }
}
@media (max-width: 479px) {
	#media-query-to-js { width: 0px; }
}
@media all and (min-width:1px) { .media-test { position: absolute; } }
.browser-comp-message { position: fixed; bottom: 0; left: 0; right: 0; z-index: 10600; }
.browser-comp-message.severity-error {top: 0; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiOAMAANUAz5n+TlUAAAAASUVORK5CYII='); }
.browser-comp-message div { padding: 20px; border: 2px solid #888; background-color: #000;}
.browser-comp-message.severity-error div { width: 90%; max-width: 500px; max-height: 120px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; padding: 50px 0; }
.browser-comp-message p { font-family: Tahoma, Sans-serif; font-size: 12pt; margin: 20px 0; text-align: center; color: #fff; }
.browser-comp-message.severity-warning p { text-align: left; display: inline; margin: 0 5px; }
.browser-comp-message a { font-family: Tahoma, Sans-serif; font-size: 12pt; font-weight: bold; color: #00d7f7; text-decoration: none; }
.x5captcha-wrap { text-align: center; box-sizing: border-box; width: 100%; padding-right: 10px; }
.x5captcha-wrap label { padding: 0; }
.x5captcha-wrap input { width: 120px; }
.captcha-container { display: block; margin: 3px auto 2px auto; width: 120px; height: 24px; border: 1px solid #BBBBBB; }
.imLoadAnim { width: 32px; height: 32px; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0;}
.imLoadAnim .imLoadCircle { width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.imLoadAnim .imLoadCircle:before { content: ''; display: block; margin: 0 auto; width: 15%; height: 15%; background-color: #333; border-radius: 100%; -webkit-animation: imLoadCircleFadeDelay 1.2s infinite ease-in-out both; animation: imLoadCircleFadeDelay 1.2s infinite ease-in-out both;}
.imLoadAnim .imLoadCircle2 { -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg);}
.imLoadAnim .imLoadCircle3 { -webkit-transform: rotate(60deg); -ms-transform: rotate(60deg); transform: rotate(60deg);}
.imLoadAnim .imLoadCircle4 { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg);}
.imLoadAnim .imLoadCircle5 { -webkit-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg);}
.imLoadAnim .imLoadCircle6 { -webkit-transform: rotate(150deg); -ms-transform: rotate(150deg); transform: rotate(150deg);}
.imLoadAnim .imLoadCircle7 { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}
.imLoadAnim .imLoadCircle8 { -webkit-transform: rotate(210deg); -ms-transform: rotate(210deg); transform: rotate(210deg);}
.imLoadAnim .imLoadCircle9 { -webkit-transform: rotate(240deg); -ms-transform: rotate(240deg); transform: rotate(240deg);}
.imLoadAnim .imLoadCircle10 { -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg);}
.imLoadAnim .imLoadCircle11 { -webkit-transform: rotate(300deg); -ms-transform: rotate(300deg); transform: rotate(300deg); }
.imLoadAnim .imLoadCircle12 { -webkit-transform: rotate(330deg); -ms-transform: rotate(330deg); transform: rotate(330deg); }
.imLoadAnim .imLoadCircle2:before { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
.imLoadAnim .imLoadCircle3:before { -webkit-animation-delay: -1s; animation-delay: -1s; }
.imLoadAnim .imLoadCircle4:before { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
.imLoadAnim .imLoadCircle5:before { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
.imLoadAnim .imLoadCircle6:before { -webkit-animation-delay: -0.7s; animation-delay: -0.7s; }
.imLoadAnim .imLoadCircle7:before { -webkit-animation-delay: -0.6s; animation-delay: -0.6s; }
.imLoadAnim .imLoadCircle8:before { -webkit-animation-delay: -0.5s; animation-delay: -0.5s; }
.imLoadAnim .imLoadCircle9:before { -webkit-animation-delay: -0.4s; animation-delay: -0.4s;}
.imLoadAnim .imLoadCircle10:before { -webkit-animation-delay: -0.3s; animation-delay: -0.3s;}
.imLoadAnim .imLoadCircle11:before { -webkit-animation-delay: -0.2s; animation-delay: -0.2s;}
.imLoadAnim .imLoadCircle12:before { -webkit-animation-delay: -0.1s; animation-delay: -0.1s;}
@-webkit-keyframes imLoadCircleFadeDelay { 0%, 39%, 100% { opacity: 0; } 40% { opacity: 1; }}
@keyframes imLoadCircleFadeDelay { 0%, 39%, 100% { opacity: 0; } 40% { opacity: 1; } }
