/* Text Elements */

h1.gray.welcome-title {
  color: #333;
}

h1 {
  color: #e5e5e5;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

h1.welcome-title {
  margin-top: 0;
}

h2 {
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

h2.heading-1 {
  color: #fc8a1a;
  text-align: center;
}

h2.p-heading {
  color: #fc8a1a;
  text-align: center;
}

h3 {
  color: #fc8a1a;
  font-weight: 700;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}

h4 {
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

h4.form-heading {
  color: #000;
  text-align: center;
  font-weight: 300;
  font-size: 34px;
}

h4.footer-heading {
  color: #fc8a1a;
  font-weight: 700;
  font-size: 21px;
}

h4.gray.welcome-subtitle {
  color: #333;
}

p.paragraph {
  margin-top: 0;
  margin-bottom: 20px;
  color: #808080;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}

p.paragraph span.paragraph-text-1 {
  font-weight: 700;
}

p.paragraph.intro-paragraph {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: rgba(30, 30, 30, .5);
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.3;
}

p.paragraph.action-paragraph {
  color: rgba(0, 0, 0, .75);
  font-weight: 300;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.3;
}

span.text-element {
  font-family: 'Roboto', sans-serif;
}

span.text-element.form-row-paragraph {
  margin-bottom: 30px;
  margin-left: 0;
  color: #595959;
  text-align: center;
  font-size: 20px;
}

span.text-element.form-input-caption {
  color: #858585;
}

a.link-text {
  font-family: 'Roboto', sans-serif;
}

a.link-text.footer-nav-item {
  margin: 15px 0;
  color: #fc8a1a;
  font-size: 15px;
}

a.link-text.active.nav-item {
  color: #fc8a1a;
}

a.link-text.nav-item {
  float: right;
  margin-top: 13px;
  margin-bottom: 0;
  margin-left: 2%;
  padding-bottom: 10px;
  padding-left: 0;
  width: auto;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

a.link-text.footer-nav-item:hover {
  color: #bababa;
}

a.link-text.nav-item:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
  color: #fff;
}

/* Common Elements */

div.rule.divider-rule {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Interaction Elements */

button[type=button].flat-button {
  padding: 20px 40px;
  min-width: 0;
  min-height: 70px;
  width: 100%;
  border-width: 1px;
  border-style: none;
  background-color: #fc6300;
  background-image: none;
  color: #fff;
  text-shadow: none;
  font-weight: 300;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

button[type=button].flat-button.form {
  margin-top: 0;
  padding: 21px 15px;
  min-height: 0;
  background-color: #fc8a1a;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

a.link-button.flat-button {
  padding: 22px 40px 20px;
  min-height: 70px;
  width: 100%;
  background-color: #fc6300;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

a.link-button.download-section.flat-button {
  margin-top: 30px;
  background-color: #ff9e00;
}

input[type=text] {
  margin-top: 0;
  margin-bottom: 0;
  padding: 18px 15px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

input[type=text].input-1 {
  max-width: none;
  border-color: #bfbfbf;
}

input[type=text].input-1:focus {
  border-color: #ff8c00;
  box-shadow: none;
}

/* Layout Elements */

body > .row.welcome-row {
  padding-top: 85px;
  padding-bottom: 85px;
  max-width: none;
  background-color: #333;
}

body > .row.row-1 {
  max-width: none;
}

body > .row > [class*='coffee-span-'] {
  padding-right: 20px;
  padding-left: 20px;
}

body > .row.nav-row {
  max-width: none;
  background-color: #4c4c4c;
}

body > .row.form-row {
  padding-top: 85px;
  padding-bottom: 85px;
  max-width: none;
  background-color: #f2f2f2;
}

body > .row.footer-row {
  padding-top: 50px;
  padding-bottom: 100px;
  max-width: none;
  background-color: #333;
}

body > .row > [class*='coffee-span-'].ignition {
  padding-top: 85px;
  padding-bottom: 85px;
}

body > .row.rocket {
  margin-bottom: 0;
  padding-top: 400px;
  padding-bottom: 400px;
  min-height: 0;
  max-width: none;
  background-image: url('https://sdrive-storage.s3.amazonaws.com/rsd/5547e06f7e7276/23751420/rocket-orange.jpg');
  background-position: center center;
  background-size: cover;
}

body > .row.subscribe {
  padding-top: 85px;
  padding-bottom: 85px;
  max-width: none;
  background-color: #e6e6e6;
}

body > .row.light-gray.welcome-row {
  background-color: #e5e5e5;
}

body > .row.text-row {
  padding-top: 85px;
  padding-bottom: 85px;
}

body > .row.orange.welcome-row {
  background-color: #fc7d00;
}

body > .row.action-row {
  padding-top: 85px;
  padding-bottom: 85px;
}

.row > [class*='coffee-span-'] > .container.centered-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

.row > [class*='coffee-span-'] .subgrid > .row > [class*='coffee-span-'] {
  padding-right: 10px;
  padding-left: 10px;
}

a.responsive-picture.logo {
  float: left;
  margin-bottom: 0;
  max-width: 89px;
}

.row > [class*='coffee-span-'] > .container.nav-container {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 1200px;
}

.row > [class*='coffee-span-'] .subgrid.subgrid-1 {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.row > [class*='coffee-span-'] .subgrid > .row > [class*='coffee-span-'].form-input-column {
  margin-top: 0;
  padding-right: 10px;
  padding-left: 10px;
}

div.responsive-picture.gallery-image {
  margin-bottom: 20px;
  max-width: none;
}

div.responsive-picture.gallery-image > picture {
  margin: 0;
}

div.responsive-picture.image {
  max-width: none;
}

div.responsive-picture.image > picture {
  margin: 0;
}

a.responsive-picture.logo > picture {
  margin: 0;
}

.row > [class*='coffee-span-'] > .container {
  width: auto;
}

@media screen and (max-width: 962px) {
  /* Text Elements */

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4.form-heading {
    font-size: 28px;
  }

  h4.footer-heading {
    font-size: 17px;
  }

  p.paragraph {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.7;
  }

  p.paragraph.intro-paragraph {
    font-size: 20px;
  }

  p.paragraph.action-paragraph {
    font-size: 20px;
  }

  span.text-element.form-row-paragraph {
    font-size: 17px;
  }

  a.link-text.footer-nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 14px;
  }

  /* Common Elements */

  div.rule.divider-rule {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Interaction Elements */

  button[type=button].flat-button {
    font-size: 20px;
  }

  button[type=button].flat-button.form {
    font-size: 16px;
  }

  a.link-button.flat-button {
    min-height: 60px;
    font-size: 20px;
  }

  a.link-button.download-section.flat-button {
    margin-top: 20px;
  }

  input[type=text] {
    font-size: 16px;
  }

  /* Layout Elements */

  body > .row.welcome-row {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  body > .row.form-row {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  body > .row > [class*='coffee-span-'].ignition {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  body > .row.rocket {
    padding-top: 300px;
    padding-bottom: 300px;
  }

  body > .row.subscribe {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  body > .row.text-row {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  body > .row.action-row {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 592px) {
  /* Text Elements */

  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 16px;
  }

  h4.form-heading {
    font-size: 24px;
  }

  p.paragraph {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.5;
  }

  p.paragraph.intro-paragraph {
    font-size: 17px;
  }

  p.paragraph.action-paragraph {
    font-size: 17px;
  }

  p.paragraph.gallery-p {
    display: block;
  }

  span.text-element.form-row-paragraph {
    font-size: 15px;
  }

  a.link-text.nav-item {
    float: none;
    margin-top: 5px;
    margin-left: 0;
    padding-bottom: 5px;
    width: auto;
    text-align: center;
  }

  /* Common Elements */

  div.rule.divider-rule {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Interaction Elements */

  button[type=button].flat-button {
    font-size: 17px;
  }

  a.link-button.flat-button {
    min-height: 50px;
    font-size: 16px;
  }

  a.link-button.download-section.flat-button {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 0;
  }

  /* Layout Elements */

  body > .row.welcome-row {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  body > .row.form-row {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  body > .row.footer-row {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  body > .row > [class*='coffee-span-'] {
    padding-right: 10px;
    padding-left: 10px;
  }

  body > .row > [class*='coffee-span-'].ignition {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  body > .row.rocket {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  body > .row.subscribe {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  body > .row.text-row {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  body > .row.action-row {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  a.responsive-picture.logo {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .row > [class*='coffee-span-'] .subgrid > .row > [class*='coffee-span-'].subgrid-column-1 {
    display: none;
  }

  .row > [class*='coffee-span-'] .subgrid > .row > [class*='coffee-span-'].subgrid-column-2 {
    display: none;
  }

  .row > [class*='coffee-span-'] .subgrid > .row > [class*='coffee-span-'].subgrid-column-3 {
    display: none;
  }

  .row > [class*='coffee-span-'] .subgrid > .row > [class*='coffee-span-'].subgrid-column-4 {
    display: none;
  }
}