/* Text Elements */

h1.MainTitle {
  color: #ba042a;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

h1.MainTitle2 {
  color: #4d4d4d;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 68px;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

h1.MainTitle3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 96px;
  padding-bottom: 32px;
  color: #4d4d4d;
  text-align: center;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

h1.MainTitle2.TitleColor {
  color: #fff;
}

h3 {
  color: #4d4d4d;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

h3.light-h3 {
  color: #fff;
}

h4.NewsTitle {
  margin-bottom: 36px;
  color: #4d4d4d;
  text-transform: capitalize;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

h5.LeftNav {
  color: #ba042a;
  text-align: left;
  font-size: 27px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

h5 {
  color: #4d4d4d;
  text-align: center;
  font-style: italic;
  font-size: 24px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

h6.picturecredit {
  margin-top: 15px;
  color: #4d4d4d;
  text-align: center;
  letter-spacing: 2px;
  font-style: italic;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

h6 a.heading-text-1 {
  color: #ba042a;
}

h6.PictureCaption {
  margin-top: 32px;
  margin-bottom: 26px;
  color: #ba042a;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

h6.alignleft.picturecredit {
  text-align: left;
}

h6.DateHeader {
  word-spacing: 2px;
  font-size: 17px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

h6.section-header {
  margin-top: 60px;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

h6 span.heading-text-2 {
  color: #ba042a;
}

p.paragraph.picturecaption {
  margin-bottom: 13px;
  padding-right: 0;
  padding-left: 0;
  max-width: 480px;
  color: #4d4d4d;
  text-align: center;
  font-size: 17px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;

  -webkit-flex: 1;
     -moz-flex: 1;
      -ms-flex: 1;
       -o-flex: 1;
          flex: 1;
}

p.paragraph.Footer {
  margin-top: 34px;
  margin-right: 4%;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

p.paragraph.FooterCredit {
  margin-bottom: 45px;
  color: #4d4d4d;
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

p.paragraph span.paragraph-text-2 {
  color: #696969;
}

p.paragraph a.paragraph-text-4 {
  color: #4d4d4d;
  text-decoration: underline;
}

p.paragraph {
  color: #4d4d4d;
  text-align: left;
  font-size: 18px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

p.paragraph.intro-paragraph {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  text-align: center;
}

p.paragraph.main-paragraph {
  color: #737373;
  font-size: 16px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

p.paragraph a.p-link {
  background-color: transparent;
  color: #fff;
  text-decoration: underline;
}

p.paragraph span.emphasis {
  font-weight: 700;
}

ul.unorder-list {
  width: auto;
}

ul.unorder-list.achievementlist {
  margin-right: 3%;
}

blockquote.mainquote {
  padding-top: 0;
  text-align: center;
  font-size: 23px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  line-height: 1.2;
}

blockquote span.quotemarks {
  color: #999;
  font-size: 96px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1;
}

blockquote span.MainText {
  color: #4d4d4d;
  font-weight: 600;
}

blockquote span.credit {
  color: #999;
  font-size: 18px;
}

a.link-text.picturecaption {
  margin-bottom: 10px;
  color: #ba042a;
  text-align: center;
  font-size: 17px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

a.link-text.leftnavlinks {
  padding-left: 10px;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

a.link-text.leftnavlinks:hover {
  opacity: .8;
}

a.link-text.leftnavlinks:active {
  font-weight: 600;
}

/* Common Elements */

div.rule.Rule hr {
  border-top-width: 2px;
  border-top-color: rgba(221, 221, 221, .30);
}

div.rule.Rule {
  margin-top: 60px;
  margin-bottom: 30px;
}

/* Interaction Elements */

a.link-button.action-button.nav-button {
  padding: 15px 25px;
  border-width: 2px;
  border-color: #780720;
  border-top-left-radius: 28px 25px;
  border-top-right-radius: 28px 25px;
  border-bottom-right-radius: 28px 25px;
  border-bottom-left-radius: 28px 25px;
  background-color: rgba(117, 117, 117, .20);
  color: #fff;
}

a.link-button.learnbutton.nav-button {
  padding: 12px 25px;
  border-width: 2px;
  border-color: #ba042a;
  border-top-left-radius: 40px 30px;
  border-top-right-radius: 40px 30px;
  border-bottom-right-radius: 40px 30px;
  border-bottom-left-radius: 40px 30px;
  background-color: rgba(186, 4, 42, .8);
  color: #fff;
  opacity: 1;
}

a.link-button.active-nav.nav-button {
  border-top-width: 3px;
  border-top-color: #8e0b27;
}

a.link-button {
  padding-right: 15px;
  padding-left: 15px;
  background-color: transparent;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

a.link-button.nav-button {
  color: #fff;
}

a.link-button.action-button.nav-button:hover {
  background-color: #4d4d4d;
  color: #fff;
}

a.link-button.learnbutton.nav-button:hover {
  opacity: .8;
}

/* Layout Elements */

body > .row.NavPicture {
  min-height: 600px;
  max-width: none;
  background-image: url('../LadyBug/ladybug-796483_1920.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body > .row.socialrow {
  max-width: none;
  background-color: #4d4d4d;
  text-align: center;
}

body > .row.FooterRow {
  max-width: none;
  background-color: #333;
  text-align: left;
}

body > .row.NavTitle2 {
  margin-bottom: 100px;
  min-height: 500px;
  max-width: none;
  background-image: url('../LadyBug/ladybug-1005869_1280.jpg');
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .94;
}

body > .row.NavTitle3 {
  min-height: 500px;
  max-width: none;
  background-image: url('../LadyBug/ladybug-354521_1280.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body > .row > [class*='coffee-span-'].nav-column {
  padding-top: 70px;
  padding-left: 22px;
}

body > .row > [class*='coffee-span-'].call-out {
  padding-top: 180px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

body > .row > [class*='coffee-span-'].introduction {
  margin-bottom: 120px;
  padding-right: 70px;
  padding-left: 70px;
}

body > .row > [class*='coffee-span-'].flex-column {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
}

body > .row > [class*='coffee-span-'].about-call.call-out {
  padding-top: 80px;
}

body > .row > [class*='coffee-span-'].newsfeed {
  padding-right: 40px;
  padding-left: 40px;
}

.row > [class*='coffee-span-'] > .container.nav-container {
  text-align: right;
}

div.responsive-picture.thumbimage {
  margin-right: auto;
  margin-left: 0;
  padding-right: 0;
  max-width: none;
  max-height: 365px;
  width: 100%;
}

a.social-image.socialicon {
  margin: 28px 1% 35px 0;
  padding-right: 0;
  max-width: 36px;
  border: 1px solid #fffaff;
  border-top-left-radius: 17px 16px;
  border-top-right-radius: 17px 16px;
  border-bottom-right-radius: 17px 16px;
  border-bottom-left-radius: 17px 16px;
  background-color: #422525;
  opacity: .5;
  -webkit-transition-duration: .1s;
     -moz-transition-duration: .1s;
      -ms-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

.row > [class*='coffee-span-'] > .container.NewsContainer {
  float: right;
  margin: 70px 0 60px;
  width: auto;
  text-align: left;
}

div.responsive-picture {
  max-width: 800px;
}

li {
  margin-top: 6px;
  margin-right: 2%;
  margin-left: 1%;
  color: #4d4d4d;
  font-size: 16px;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

div.responsive-picture.newspic {
  float: left;
  padding-right: 20px;
  width: 70%;
}

div.responsive-picture.newsfeed.newspic {
  float: right;
  padding-right: 0;
  padding-left: 20px;
  width: 71%;
}

.row > [class*='coffee-span-'] > .container {
  width: auto;
}

.row > [class*='coffee-span-'] > .container.flex-card {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
}

.row > [class*='coffee-span-'] > .container.achievements-wrapper {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  margin-bottom: 60px;
}

li.list-item-1 {
  margin-right: 1%;
}

a.social-image.socialicon:hover {
  opacity: 1;
}

a.social-image.socialicon:active {
  opacity: .9;
}

a.social-image.socialicon:focus {
  opacity: 1;
}

@media screen and (max-width: 1003px) {
  /* Text Elements */

  h1.MainTitle {
    line-height: .9;
  }

  h5.LeftNav.right-mob {
    padding-right: 10px;
    text-align: right;
  }

  a.link-text.leftnavlinks {
    text-align: left;
  }

  a.link-text.leftnavlinks.righ-mob {
    padding-right: 30px;
    text-align: right;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].nav-column {
    text-align: center;
  }

  body > .row > [class*='coffee-span-'].call-out {
    text-align: center;
  }

  body > .row > [class*='coffee-span-'].about-call.call-out {
    padding-top: 260px;
  }
}

@media screen and (max-width: 670px) {
  /* Text Elements */

  h1.MainTitle2 {
    color: #363636;
    font-size: 55px;
  }

  h1.MainTitle2.TitleColor {
    font-size: 60px;
  }

  h1.MainTitle3 {
    padding-top: 66px;
    text-align: left;
  }

  h1 span.heading-text-3 {
    background-color: rgba(255, 255, 255, .10);
  }

  h5.LeftNav {
    display: block;
    margin-bottom: 0;
  }

  h5.LeftNav.right-mob {
    text-align: center;
  }

  h6.alignleft.picturecredit {
    margin-top: 30px;
    text-align: left;
  }

  h6.section-header {
    margin-top: 60px;
    text-align: left;
  }

  p.paragraph.Footer {
    text-align: center;
  }

  p.paragraph.picturecaption {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  p.paragraph.intro-paragraph {
    text-align: left;
  }

  blockquote.mainquote {
    margin-top: -22px;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  a.link-text.leftnavlinks {
    display: inline-block;
    padding-right: 10px;
    text-align: left;
  }

  a.link-text.picturecaption {
    margin-bottom: 40px;
  }

  /* Common Elements */

  div.rule.Rule hr {
    border-top-color: rgba(221, 221, 221, .30);
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].call-out {
    padding-top: 80px;
    text-align: center;
  }

  body > .row > [class*='coffee-span-'].introduction {
    margin-top: 0;
    margin-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }

  body > .row > [class*='coffee-span-'].flex-column {
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
            flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
  }

  body > .row > [class*='coffee-span-'].nav-col {
    text-align: center;
  }

  body > .row > [class*='coffee-span-'].about-call.call-out {
    padding-top: 90px;
  }

  body > .row.NavTitle2 {
    margin-bottom: 50px;
  }

  body > .row > [class*='coffee-span-'].nav-column {
    padding-left: 8px;
  }

  body > .row > [class*='coffee-span-'].newsfeed {
    padding-right: 8px;
    padding-left: 8px;
  }

  .row > [class*='coffee-span-'] > .container.nav-container {
    text-align: center;
  }

  .row > [class*='coffee-span-'] > .container.NewsContainer {
    margin-right: 1%;
    margin-left: 1%;
  }

  div.responsive-picture.thumbimage {
    margin-left: auto;
    padding-left: 0;
    max-width: none;
  }

  .row > [class*='coffee-span-'] > .container.flex-card {
    display: block;
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 371px) {
  /* Text Elements */

  h1.MainTitle2 {
    font-size: 52px;
  }

  h1.MainTitle2.TitleColor {
    font-size: 51px;
  }

  p.paragraph.intro-paragraph {
    margin-bottom: 32px;
  }

  /* Interaction Elements */

  a.link-button.learnbutton.nav-button {
    padding: 10px 20px;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].call-out {
    text-align: center;
  }

  body > .row > [class*='coffee-span-'].introduction {
    margin-top: 0;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .row > [class*='coffee-span-'] > .container.NewsContainer {
    margin-right: 0;
    margin-left: 0;
  }

  .row > [class*='coffee-span-'] > .container.achievements-wrapper {
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
            flex-direction: column;
  }

  div.responsive-picture.newsfeed.newspic {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    width: 100%;
  }

  div.responsive-picture.newspic {
    padding-right: 0;
    width: 100%;
  }
}