<div class="menu-top-menu-container">
    <ul id="top-menu" class="menu">
      <li><a href="">Home</a></li>
      <li><a rel="Client Profile" href="">Profile</a></li>
      <li><a rel="Registered Students" href="">Students</a></li>
      <li><a rel="Fee Information" href="">Payment In4</a></li>
    </ul>
    <a rel="Log out from the portal" href="">Log out</a>
  </div>