{% extends 'tutors/common.html' %}
{% load staticfiles %}

<h4>Payment Information</h4>
<table>
  <tr>
    <th>Lessons</th><td></td>
  </tr>
  <tr>
    <th>Cost Per Lesson</th><td></td>
  </tr>
  <tr>
    <th>Total Pay Due</th><td></td>
  </tr>
  <tr>
    <th>Disbursed Amount</th><td></td>
  </tr>
</table>
