{% extends 'tutors/common.html' %}
{% load staticfiles %}

{% block body %}

<div class="jumbotron">
Welcome: Tutor Name<br>

Incoming Lessons<br>
<table>
    <tr><th>Date</th><th>Lesson Subject</th><th>Start Time</th><th>Duration</th><th>Student</th><th>Level</th><th>Place</th><th>Client Contact</th>
    <tr><tr><td></td><td></td></tr>
</table>
Missed Lessons<br>
<table>
    <tr><th>Date</th><th>Lesson Subject</th><th>Start Time</th><th>Duration</th><th>Student</th><th>Level</th><th>Place</th><th>Client Contact</th>
    <tr><tr><td></td><td></td></tr>
</table>
Students Performance<br>
Rating<br>Payment Summary<br>
</div>
{% endblock %}