{% extends 'tutors/common.html' %}
{% load staticfiles %}

<h3>Tutor Profile</h3>
  <h4>Name</h4>
  <h4>ID Number</h4>
  <h4>TSC Number</h4>
  <h4>Residence</h4>
    <h5>County</h5>
    <h5>Constituency</h5>
    <h5>Town</h5>
  <h4>Occupation</h4>
  <h4>Institution</h4>
  <h4>Course</h4>
    <h5>Degree</h5>
    <h5>Certficate</h5>
    <h5>Master</h5>
  <h4>Religion</h4>
  <h4>Contact</h4>
    <h5>Mobile</h5>
    <h5>Email</h5>
  <h4>Gender</h4>
  <h4>K.C.S.E Grade</h4>
  <h4>Referees</h4>
      <h5>Name</h5>
      <h5>Contact</h5>
