{% extends 'tutors/common.html' %}
{% load staticfiles %}

<h1>Student Profile</h1>
  <h4>Name</h4>
  <h4>School</h4>
  <h4>Class</h4>
  <h4>Date of Birth</h4>
  <h4>Religion</h4>
  <h4>Subjects Taking</h4>
  <table>
    <tr>
      <th>Subject Titles</th><td>Sample</td>
    </tr>
  </table>

  <h4>Subjects Being Tutored</h4>
    <table>
    <tr>
      <th>Subject Title</th><th>Tutor</th>
    </tr>

    <tr>
      <td>Sample</td><td>Sample</td>
    </tr>
  </table>

  <h4>Classes</h4>
  <table>
    <tr>
      <th>Time</th><th>Subject</th><th>Topic</th>
    </tr>

    <tr>
      <td>Sample</td><td>Sample</td><td>Sample</td>
    </tr>
  </table>

  <h5>Weekly View</h5>
  <table>
    <tr>
      <th>Day</th><th>Date</th><th>Time</th><th>Subject</th><th>Topic</th>
    </tr>

    <tr>
      <td>Sample</td><td>Sample</td><td>Sample</td>
    </tr>
  </table>
  <h5>Monthly View</h5>
  <table>
    <tr>
      <th>Week</th><th>Season</th><th>Subjects</th><th>Classes</th>
    </tr>

    <tr>
      <td>Sample</td><td>Sample</td><td>Sample</td><td>Sample</td>
    </tr>

    <tr>
      <th>Total</th><td>Sample</td><td>Sample</td><td>Sample</td>
    </tr>
  </table>