{% extends 'clients/common.html' %}
{% load staticfiles %}

{% block body %}

<div class="jumbotron">
    <h4>Tutoring Fee Information</h4>
    <table>
      <tr>
        <th>Amount Paid</th><td></td>
      </tr>
      <tr>
        <th>Amount Owed</th><td></td>
      </tr>
      <tr>
        <th>Balance</th><td></td>
      </tr>
    </table>
</div>
{% endblock %}