/* Text Elements */

h2.slider-heading-2.heading-2 {
  margin-top: 4px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

h5.slider-heading-5.pre-heading {
  color: #940410;
  font-size: 20px;
  font-family: 'Courgette', cursive;
}

h6.slider-heading-6.price {
  display: inline-block;
  margin-top: 0;
  color: #000;
  vertical-align: top;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
}

.slideshow {
  padding: 0;
  max-width: 1100px;
}

.slideshow_container > .slideshow .slider-container.container-1 {
  display: block;
  float: left;
  padding-top: 30px;
  padding-right: 80px;
  padding-left: 175px;
  min-width: 0;
  min-height: 375px;
  width: 66%;
  background-color: #f2f2f2;
  vertical-align: top;
}

.slideshow_container > .slideshow .slider-container.container-2 {
  display: block;
  float: left;
  min-height: 375px;
  width: 34%;
  border-left: 1px solid #060606;
  background-color: #fff;
}

.slideshow_container > .slideshow .slider-container {
  padding: 0;
}

.slideshow_container.outer-container {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: #edede8;
}

.slideshow_container > .slideshow .slider-container.container-2.darker {
  float: left;
  width: 40%;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 0;
  background-color: #f5f3f0;
  background-image:      -o-linear-gradient(180deg, rgba(242, 241, 240, 1.00) 0%, rgba(245, 243, 240, 1) 100%);
  background-image:    -moz-linear-gradient(180deg, rgba(242, 241, 240, 1.00) 0%, rgba(245, 243, 240, 1) 100%);
  background-image:     -ms-linear-gradient(180deg, rgba(242, 241, 240, 1.00) 0%, rgba(245, 243, 240, 1) 100%);
  background-image: -webkit-linear-gradient(180deg, rgba(242, 241, 240, 1.00) 0%, rgba(245, 243, 240, 1) 100%);
  background-image:         linear-gradient(180deg, rgba(242, 241, 240, 1.00) 0%, rgba(245, 243, 240, 1) 100%);
}

.slideshow_container > .slideshow .slider-container.container-1.right {
  float: right;
  padding-left: 50px;
  width: 60%;
}

.slides_container > .slide {
  margin-top: 0;
  padding: 0;
}

p.slider-paragraph.description {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #8a8a8a;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

a.slider-link-button.button-red {
  margin-left: 6%;
  padding: 9px 20px 12px;
  border-top-left-radius: 0 0;
  border-top-right-radius: 0 0;
  border-bottom-right-radius: 0 0;
  border-bottom-left-radius: 0 0;
  background-color: #96040f;
  font-family: 'Lato', sans-serif;
  line-height: 1;
}

div.responsive-slider-picture.the-wears {
  display: block;
  margin-right: 0;
  margin-left: 0;
  max-width: none;
  max-height: 375px;
  text-align: left;
}

div.responsive-slider-picture.left-image.the-wears {
  text-align: right;
}

@media screen and (max-width: 776px) {
  /* Text Elements */

  h2.slider-heading-2.heading-2 {
    font-size: 36px;
  }

  h2.slider-heading-2.heading-2.smaller {
    font-size: 30px;
  }

  .slideshow_container > .slideshow .slider-container.container-1 {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 50px;
    min-height: 0;
  }

  .slideshow_container.outer-container {
    background-color: #f2f2f2;
  }

  .slideshow_container > .slideshow .slider-container.container-2 {
    min-height: 0;
  }

  .slideshow_container > .slideshow .slider-container.container-2.darker {
    width: 46%;
  }

  .slideshow_container > .slideshow .slider-container.container-1.right {
    padding-right: 10px;
    padding-left: 25px;
    width: 54%;
  }

  p.slider-paragraph.description {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  div.responsive-slider-picture.the-wears {
    max-width: none;
    max-height: 275px;
  }
}

@media screen and (max-width: 552px) {
  /* Text Elements */

  h2.slider-heading-2.heading-2 {
    font-size: 30px;
  }

  h2.slider-heading-2.heading-2.smaller {
    font-size: 26px;
  }

  .slideshow_container > .slideshow .slider-container.container-1 {
    padding-right: 10px;
    padding-left: 20px;
  }

  .slideshow_container > .slideshow .slider-container.container-2 {
    padding-top: 30px;
  }

  .slideshow_container > .slideshow .slider-container.container-2.darker {
    width: 38%;
  }

  .slideshow_container > .slideshow .slider-container.container-1.right {
    width: 62%;
  }

  p.slider-paragraph.description {
    margin-bottom: 10px;
  }

  div.responsive-slider-picture.the-wears {
    max-width: none;
    max-height: 225px;
  }
}

@media screen and (max-width: 420px) {
  /* Text Elements */

  h2.slider-heading-2.heading-2 {
    text-align: center;
    font-size: 31px;
  }

  h2.slider-heading-2.heading-2.smaller {
    font-size: 25px;
  }

  h5.slider-heading-5.pre-heading {
    text-align: center;
  }

  h6.slider-heading-6.price {
    display: block;
    text-align: center;
    font-size: 26px;
  }

  .slideshow_container > .slideshow .slider-container.container-2.darker {
    float: none;
    width: auto;
    border-right-width: 0;
  }

  .slideshow_container > .slideshow .slider-container.container-1.right {
    float: none;
    min-height: 260px;
    width: auto;
  }

  .slideshow_container > .slideshow .slider-container.container-2 {
    float: none;
    margin-top: 0;
    padding-top: 0;
    width: auto;
    border-left-width: 0;
  }

  .slideshow_container > .slideshow .slider-container.container-1 {
    float: none;
    padding-top: 14px;
    padding-right: 7px;
    padding-left: 7px;
    min-height: 260px;
    width: auto;
  }

  p.slider-paragraph.description {
    text-align: center;
    line-height: 1.4;
  }

  a.slider-link-button.button-red {
    display: block;
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 200px;
    text-align: center;
  }

  div.responsive-slider-picture.the-wears {
    margin-right: auto;
    margin-left: auto;
    max-width: none;
    max-height: 180px;
    text-align: center;
  }
}.slide {
  display: none;
}
.slide.active {
  display: block;
}
