{% extends 'rango/base_bootstrap.html' %}
{% load bootstrap_toolkit %}

{% block title_block %}
    Add Page
{% endblock %}

    {% block body_block %}
        {% if category %}

            <form role="form" id="page_form" method="post"
                  action="/rango/category/{{category.slug}}/add_page/">
                <h2 class="form-signin-heading">Add a Page to
                    <a href="/rango/category/{{category.slug}}/">{{ category.name }}</a> </h2>

                {% csrf_token %}
                {{ form|as_bootstrap}}
                <br/>
                <button class="btn btn-primary"
                        type="submit" name="submit" >
                    Add Page
                </button>
            </form>
        {% else %}
            <p>This category does not exist</p>
        {% endif %}

    {% endblock %}