{% extends 'rango/base_bootstrap.html' %}
{% load bootstrap_toolkit %}

{% block title_block %}
    Add Category
{% endblock %}

    {% block body_block %}


            <form role="form" id="category_form" method="post" action="{% url 'rango:add_category' %}">
                <h2 class="form-signin-heading">Add a Category</h2>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <br />
                <button class="btn btn-primary"
                        type="submit" name="Submit" value="Create Category" >
                    Create Category
                </button>
            </form>

    {% endblock %}