<!DOCTYPE html>

<html lang="en">

{% load staticfiles %}
{% load rango_template_tags %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title> Rango - {% block title %}How to Tango with Django!{% endblock %} </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
</head>

<body>


    <nav class="navbar navbar-fixed-top navbar-expand-sm bg-dark navbar-dark">

        <!--button class="navbar-toggler hidden-sm-up"
                type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button-->

      <a class="navbar-brand" href="#">
          <img src="{% static 'images/favicon.ico' %}" alt="Rango"></a>

      <!--div id="navbarsExampleDefault">
        <!--nav class="nav navbar-nav pull-xs-left"-->

        <ul class="navbar-nav">

            <a class="nav-item nav-link" href="{% url 'rango:index' %}">Home</a>


            <a class="nav-item nav-link" href="{% url 'rango:about' %}">About</a>

          {% if user.is_authenticated %}

              <a class="nav-item nav-link"
                href="{% url 'rango:add_category' %}">
                 Add a New Category</a>

              <a class="nav-item nav-link"
                href="{% url 'auth_logout' %}?next=/rango/">Logout</a>

          {% else %}

                <a class="nav-item nav-link"
                  href="{% url 'rango:register' %}">Register Here</a>

                <a class="nav-item nav-link"
                  href="{% url 'auth_login' %}">Login</a>

          {% endif %}

        </ul>
        <!--/nav-->
      <!--/div-->

    </nav>


    <div class="container-fluid">
      <div class="row">
      <div class="col-sm-3 col-md-2 col-lg-2">
          <h5 class="sidebar-title">All Categories</h5>
          {% block sidebar_block %}
            {% get_category_list category %}
          {% endblock %}
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 main">
          {% block body_block %}{% endblock %}
      </div>
      </div>
    </div>

    <hr />

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery.min.js' %}" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'tether.min.js' %}" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>