<!DOCTYPE html>

<html lang="en">

{% load staticfiles %}
{% load rango_template_tags %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title> Rango - {% block title %}How to Tango with Django!{% endblock %} </title>

    <!--link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/"-->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
</head>

<body>


    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

        <button class="navbar-toggler navbar-toggler-right hidden-lg-up"
                type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

      <a class="navbar-brand" href="#">Rango</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <nav class="nav navbar-nav pull-xs-left">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
            <a class="nav-link" href="{% url 'rango:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rango:about' %}">About</a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Search</a>
          </li-->
          {% if user.is_authenticated %}
              <li  class="nav-item">
              <a class="nav-item nav-link"
                href="{% url 'rango:add_category' %}">
                 Add a New Category</a>
              </li>
              <li class="nav-item">
              <a class="nav-item nav-link"
                href="{% url 'auth_logout' %}?next=/rango/">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-item nav-link"
                  href="{% url 'registration_register' %}">Register Here</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link"
                  href="{% url 'auth_login' %}">Login</a>
              </li>
          {% endif %}

          </ul>

        </nav>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
          {% block sidebar_block %}
            {% get_category_list category %}
          {% endblock %}
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block body_block %}{% endblock %}
      </div>
      </div>
    </div>

    <hr />

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

    <script src="{% static 'tether.min.js' %}" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>