{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
   {{ category.name }}
{% endblock %}

    {% block body_block %}
      {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li>
                    <a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{ page.title }}</a>
                    {% if page.views > 1 %}
                        ({{ page.views }} views)
                    {% elif page.views == 1 %}
                        ({{ page.views }} view)
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
          <strong>No pages currently in category.</strong>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'rango:add_page' category.slug %}">Add a Page</a>
        {% endif %}
      {% else %}
        The specified category does not exist!
      {% endif %}
    {% endblock %}
{% if user.is_authenticated %}
<div>
    <form class="form-inline" id="user_form"
method="post" action="{% url 'show_category' category.slug %}">
{% csrf_token %}
<div class="form-group">
<input class="form-control" type="text" size="50"
name="query" value="{{ query }}" id="query" />
</div>
<button class="btn btn-primary" type="submit" name="submit"
value="Search">Search</button>
</form>
</div>
<div>
{% if result_list %}
<h3>Results</h3>
<!-- Display search results in an ordered list -->
<div class="list-group">
{% for result in result_list %}
<div class="list-group-item">
<h4 class="list-group-item-heading">
<a href="{{ result.link }}">{{ result.title }}</a>
</h4>
<p class="list-group-item-text">{{ result.summary }}</p>
</div>
{% endfor %}
</div>
{% endif %}
</div>
{% endif %}