<!DOCTYPE html>

<html lang="en">

{% load staticfiles %}
{% load rango_template_tags %}

<head>
    <meta charset="UTF-8">
    <title>Rango -
        {% block title_block %}
            How to Tango with Django
        {% endblock %}
    </title>
</head>
<body>
    <div>
        {% block sidebar_block %}
            {% get_category_list category %}
        {% endblock%}
    </div>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
    <hr />

    <div>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'rango:restricted'%}">Restricted Page</a></li>
                <li><a href="{% url 'auth_logout'%}?next=/rango/">Logout</a></li>
            {% else %}
                <li><a href="{% url 'registration_register'%}">Register</a></li>
                <li><a href="{% url 'auth_login'%}">Login</a></li>
            {% endif %}
                <li><a href="{% url 'rango:add_category' %}">Add New Category</a></li>
                <li><a href="{% url 'rango:about' %}">About</a></li>
                <li><a href="{% url 'rango:index'%}">Index</a></li>
        </ul>
    </div>
</body>
</html>