{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <h1 class="display-3">Rango says...</h1>
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
    </div>

<div class="row marketing">
        <div class="col-lg-6">
            <h3>Most Liked Categories</h3>
            <p>
            {%if categories %}
              <ul class="list-group">
                  {% for category in categories%}
                      <li class="list-group-item">
                        <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                      </li>
                  {% endfor %}
              </ul>
              {% else %}
                  <strong>There are no categories present.</strong>
              {% endif %}
            </p>
    </div>

    <div class="col-lg-6">
        <h3>Most Viewed Pages</h3>
        <p>
          {% if pages %}
                <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
              <strong>No pages currently present.</strong>
            {% endif %}
        </p>
    </div>
</div>

    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango">
    </div>

    <p> visits: {{ visits }}</p>
{% endblock %}