{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Login
{% endblock %}

{% block body_block %}
    <h1>Login to Rango</h1>
    <form id="login_form" method="post" action="{% url 'rango:login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" size="50">
        Password: <input type="password" name="password" size="50">
        <input type="submit" value="submit">
    </form>
{% endblock %}
