/* Text Elements */

p.paragraph {
  margin-bottom: .8333333333333334em;
  font-size: .75em;
  font-family: 'Andale Mono', AndaleMono, monospace;
  line-height: 1.4;
}

p.paragraph.paragraphs {
  margin-bottom: 1.6666666666666667em;
}

p.paragraph.footer {
  text-align: center;
}

p.paragraph.paragraph-1 {
  color: #1e1e1e;
}

ul.unorder-list {
  padding-bottom: .35714285714285715em;
  padding-left: .8571428571428571em;
  width: auto;
  list-style-type: circle;
}

a.link-text {
  color: #000dff;
  font-size: .75em;
  font-family: 'Andale Mono', AndaleMono, monospace;
  line-height: 1.4;
}

a.link-text.portfolio-text-link {
  color: #000dff;
}

a.link-text.portfolio-text-link:hover {
  text-decoration: line-through;
}

/* Interaction Elements */

a.link-button {
  padding: .75em .8333333333333334em;
  background-color: #fff;
  color: #333;
  font-size: .75em;
  font-family: 'Andale Mono', AndaleMono, monospace;
}

a.link-button.nav-item {
  margin-right: 0;
  margin-left: 0;
  width: 33%;
}

a.link-button.active.nav-item {
  font-weight: 600;
}

a.link-button.nav-item:hover {
  text-decoration: line-through;
}

/* Layout Elements */

body > .row > [class*='coffee-span-'].nav-bar {
  padding-top: .75em;
}

body > .row > [class*='coffee-span-'].footer {
  margin-top: 1.5625em;
  border-top: .0625em solid #d4d4d4;
}

body > .row > [class*='coffee-span-'].project-description {
  padding-bottom: 1.5625em;
}

body {
  padding-right: 1.875em;
  padding-left: 1.875em;
}

a.responsive-picture.logo > picture {
  margin: 0;
}

a.responsive-picture.logo {
  margin-right: auto;
  margin-left: auto;
  max-width: 6.25em;
}

a.responsive-picture.portfolio-image-link {
  margin-bottom: 1em;
  max-width: none;
}

a.responsive-picture.portfolio-image-link > picture {
  margin: 0;
}

.row > [class*='coffee-span-'] > .container.buttons-container {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

div.responsive-picture.project-image {
  margin-bottom: 1em;
  max-width: none;
}

div.responsive-picture.project-image > picture {
  margin: 0;
}

li {
  margin-bottom: .75em;
  text-indent: -1em;
  font-size: .8571428571428571em;
  font-family: 'Andale Mono', AndaleMono, monospace;
}

.row > [class*='coffee-span-'] > .container {
  width: auto;
}

@media screen and (max-width: 68.6875em) {
  /* Layout Elements */

  body {
    padding-right: 1.25em;
    padding-left: 1.25em;
  }

  div.responsive-picture.project-image {
    margin-bottom: 1em;
  }

  .row > [class*='coffee-span-'] > .container.buttons-container {
    min-width: .625em;
    width: 60%;
  }
}

@media screen and (max-width: 33.375em) {
  /* Layout Elements */

  body {
    padding-right: .375em;
    padding-left: .375em;
  }

  .row > [class*='coffee-span-'] > .container.buttons-container {
    width: 100%;
  }
}