<div style='margin:40px 60px'>
<form name=f action='#' onsubmit="showAddress(this.address.value); return false">
		<div>Where are you now?</div>
		<div style='font-size:0.8em;margin-bottom:16px'><i>Or "Where would you rather be?" or "Where are you traveling soon?"</div>
		<input type='text' size='60' name='address'/>
		<input type='submit' value='Search'/>
	  </form>
	  
	  <!--<div id='latlong'></div>-->
	  <div>&nbsp;</div>
	  <div id="map_canvas" style="width:400px;height:247px"></div>
	  
	  <div style='margin-top:20px;'>&nbsp;</div>
	  <div id='missing' style='font-size:1.5em;display:none'>Oops, we can't find that, try again?</div>
	  <form name=r action='#' onsubmit='return false' style='font-size:1.3em;display:none'>
		Copy this (control/cmd-C) and paste to f.lux:<br/>
		<input name='latlong' type='text' style='font-size:1.3em;' size='32'/>
</form>
</div>