{% extends 'common.html' %}

{% load staticfiles %}

{% block body %}
    <link href="{% static 'homestyle.css'%}" rel="stylesheet">
    <script type='text/javascript' src='{% static 'jquery.js' %}'></script>
    <script type='text/javascript' src='{% static 'jquery-migrate.min.js' %}'></script>

    <header id="masthead" class="site-header" role="banner">

		<div class="custom-header">

		<div class="custom-header-media">
			<div id="wp-custom-header" class="wp-custom-header">
                <img src="{% static 'images/header.jpg' %}" width="2000" height="1200" alt="Rabbi" /></div>
        </div>

	<div class="site-branding">
	<div class="wrap">


		<div class="site-branding-text">
							<h1 class="site-title"><a href="" rel="home">Rabbi Tutors</a></h1>

							<p class="site-description">Professional Tutoring Organization</p>
					</div><!-- .site-branding-text -->


	</div><!-- .wrap -->
</div><!-- .site-branding -->

</div><!-- .custom-header -->

					<div class="navigation-top">
				<div class="wrap">
					<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
	<button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
		<svg class="icon icon-bars" aria-hidden="true" role="img"> <use href="#icon-bars" xlink:href="#icon-bars"></use> </svg>
        <svg class="icon icon-close" aria-hidden="true" role="img"> <use href="#icon-close" xlink:href="#icon-close"></use> </svg>Menu
    </button>

	<div class="menu-top-menu-container">
		<ul id="top-menu" class="menu">
			<li id="menu-item-18"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18">
                <a href="#home">Home</a></li>
			<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="/accounts/login/?type=tutor">Tutors</a></li>
            <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="/accounts/login/?type=client">Clients</a></li>
			<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="#about">About</a></li>
			<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
                <a href="#contact">Contact Us</a></li>
		</ul>
	</div>
			<a href="#content" class="menu-scroll-down"><svg class="icon icon-arrow-right" aria-hidden="true" role="img">
                <use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use> </svg>
                <span class="screen-reader-text">Scroll down to content</span></a>
	</nav><!-- #site-navigation -->
				</div><!-- .wrap -->
			</div><!-- .navigation-top -->

	</header><!-- #masthead -->

<div class="site-content-contain">
	<div id="content" class="site-content">

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

		<article id="post-7" class="twentyseventeen-panel  post-7 page type-page status-publish hentry" >


			<div class="panel-content" id="home">
				<div class="wrap">
					<header class="entry-header">
						<h2 class="entry-title">Home</h2>
					</header><!-- .entry-header -->

					<div class="entry-content">
						<p>Want to <a href="/accounts/signup/?type=tutor" title="Register as a tutor">WORK AS A TUTOR</a> or
                            <a href="/accounts/signup/?type=client"  title="Register as a client">HIRE A TUTOR</a>. Rabbi Tutors is the right place for you.
                            Registration is only a click away..Join our large network in the country and be part of this brilliant undertaking.</p>
					</div><!-- .entry-content -->

				</div><!-- .wrap -->
			</div><!-- .panel-content -->

		</article><!-- #post-## -->


	<article id="panel1" class="twentyseventeen-panel  post-11 page type-page status-publish has-post-thumbnail hentry" >

		<div class="panel-content" id="about">
			<div class="wrap">
				<header class="entry-header">
					<h2 class="entry-title">About</h2>
				</header><!-- .entry-header -->

				<div class="entry-content">
					<p>Rabbi tutoring group is an organization conceived by a brilliant young man together with three other
                        friends who had a desire to impact the lives of other young men, from both primary and high schools, by
                        enabling them to achieve their dreams and turning out to be leaders.
                        Rabbi’s vision acts as a roadmap and framework to achieving a meaningful impact to students, parents and
                        society at large, our aim being to constantly enable students to achieve and surpass their academic goals and
                        become exceptional leaders. As Rabbi we create the best environment for employees and tutors to dispense their
                        duties, and to create forums for impacting the less privileged students in the society.
</p>
				</div><!-- .entry-content -->


			</div><!-- .wrap -->
		</div><!-- .panel-content -->

	</article><!-- #post-## -->

<article id="panel2" class="twentyseventeen-panel  post-8 page type-page status-publish has-post-thumbnail hentry" >

	<div class="panel-content" id="contact">
		<div class="wrap">
			<header class="entry-header">
				<h2 class="entry-title">Contact Us</h2>
			</header><!-- .entry-header -->

			<div class="entry-content">
                <p>You can contact us on:</p>
					<ul  class="list-group">
						<li>Telephone : +254 721 915 132</li>
						<li>Email: info@rabbitutors.co.ke</li>
					</ul>

			</div><!-- .entry-content -->


		</div><!-- .wrap -->
	</div><!-- .panel-content -->

</article><!-- #post-## -->

	</main><!-- #main -->
</div><!-- #primary -->


		</div><!-- #content -->

		<footer id="colophon" class="site-footer" role="contentinfo">
			<div class="wrap">


	<aside class="widget-area" role="complementary">
					<div class="widget-column footer-widget-1">
				<section id="text-4" class="widget widget_text"><h2 class="widget-title">Find Us</h2>
                    <div class="textwidget"><p><strong>Address</strong><br />123 Main Street<br />Nairobi, NRB 10001</p>
                        <p><strong>Hours</strong><br />Monday&mdash;Friday: 9:00AM&ndash;5:00PM<br />Saturday &amp; Sunday: 11:00AM&ndash;3:00PM</p></div>
		</section>			</div>
					<div class="widget-column footer-widget-2">
				<section id="search-4" class="widget widget_search"><h2 class="widget-title">Search</h2>

<form role="search" method="get" class="search-form" action="">
	<label for="search-form-5aa95e99a7bae">
		<span class="screen-reader-text">Search for:</span>
	</label>
	<input type="search" id="search-form-5aa95e99a7bae" class="search-field" placeholder="Search &hellip;" value="" name="s" />
	<button type="submit" class="search-submit"><svg class="icon icon-search" aria-hidden="true" role="img">
        <use href="#icon-search" xlink:href="#icon-search"></use> </svg>
        <span class="screen-reader-text">Search</span>
    </button>
</form>
</section>			</div>
			</aside><!-- .widget-area -->

					<nav class="social-navigation" role="navigation" aria-label="Footer Social Links Menu">
						<div class="menu-social-links-menu-container"><ul id="menu-social-links-menu" class="social-links-menu">
							<li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23">
                                <a href="https://www.facebook.com/"><span class="screen-reader-text">Facebook</span>
                                    <svg class="icon icon-facebook" aria-hidden="true" role="img"> <use href="#icon-facebook" xlink:href="#icon-facebook">
                                    </use> </svg></a></li>
							<li id="menu-item-24" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24">
                                <a href="https://twitter.com/"><span class="screen-reader-text">Twitter</span>
                                    <svg class="icon icon-twitter" aria-hidden="true" role="img"> <use href="#icon-twitter" xlink:href="#icon-twitter">

                                    </use> </svg></a></li>
							<li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                <a href="https://www.instagram.com/explore/tags/"><span class="screen-reader-text">Instagram</span>
                                    <svg class="icon icon-instagram" aria-hidden="true" role="img">
                                        <use href="#icon-instagram" xlink:href="#icon-instagram"></use> </svg></a></li>
							<li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26">
                                <a href="mailto:info@rabbitutors.co.ke"><span class="screen-reader-text">Email</span>
                                    <svg class="icon icon-envelope-o" aria-hidden="true" role="img">
                                        <use href="#icon-envelope-o" xlink:href="#icon-envelope-o"></use> </svg></a></li>
							</ul></div>					</nav><!-- .social-navigation -->
						<div class="site-info">
						</div><!-- .site-info -->
			</div><!-- .wrap -->
		</footer><!-- #colophon -->

</div>


    <script type='text/javascript' src='{% static 'global.js' %}'></script>

{% endblock %}