{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Profile Registration</h2>
            <form role=="form" action="" method="post">
                {% csrf_token %}
                 <!-- Display form -->
                {{ stage1form.as_p }}
            <input name="next" type="submit" value="Next" />
            </form>
</div>
{% endblock %}