<label for="occupation">Occupation</label>
    <input type="text" id="occupation" name="occupation" required="required"/><br />

<label for="org">Organization</label>
    <input type="text" id="org" name="org" required="required"/><br />

<label for="relgn">Religion</label>
    <select name="relgn">
    <option disabled selected>-Choose-</option>
   </select><br/>

<label for="hobbies">Hobbies</label>
   <textarea id="hobbies" cols="30" rows="4" name="hobbies" required="required"></textarea><br />