{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<div>
    <div class="jumbotron">
        <h2 class="form-signin-heading">Sign Up Here</h2>
            <form role="form" method="post" action=".">
                {% csrf_token %}
                <div class="form-group" >
                    <p class="required"><label class="required" for="id_username">
                        Username:</label>
                        <input class="form-control" id="id_username" maxlength="30"
                        name="username" type="text" required/>
                        <span class="helptext">
                        Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.
                        </span>
                    </p>
                        <p class="required"><label class="required" for="id_email">
                        E-mail:</label>
                        <input class="form-control" id="id_email" name="email"
                        type="email" required/>
                    </p>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
    </div>
</div>
{% endblock %}